.ss-gridfield-pagination { text-align: center; padding-bottom: 10px; }

.ss-gridfield-pagination-button.loading { background: url(../images/network-save.gif) no-repeat 0% 50%; padding-left: 20px; }
