.SelectionGroup { padding: 0px; clear: both; }
.SelectionGroup li { list-style-type: none; float: left; width: 100%; clear: both; }
.SelectionGroup li input.selector { width: 20px; float: left; }
.SelectionGroup li > div.selectiongroup_item { display: none; font-size: 1em; }
.SelectionGroup li input, .SelectionGroup .right .SelectionGroup li label { display: block; }
.SelectionGroup li.selected > div.selectiongroup_item { margin-left: 30px; display: block; margin-bottom: 1em; }
.SelectionGroup li.selected label.selector { font-weight: bold; }

.mainblock.allassets ul { padding: 0 0 0 10px; height: 100px; overflow-y: scroll; }

.mainblock.allassets ul li { width: 150px; }
