div.report table { margin-left: 10px; margin-bottom: 20px; }

div.report span.submitted { font-style: italic; }

div.report table * { font-size: 1em; }

div.report table td.field { font-weight: bold; padding-right: 10px; padding-left: 0px; }
