body { font: normal 68% verdana,arial,helvetica; color: #000000; }

table tr td, table tr th { font-size: 68%; }

table.details tr th { font-weight: bold; text-align: left; background: #a6caf0; }

table.details tr { background: #eeeee0; }

p { line-height: 1.5em; margin-top: 0.5em; margin-bottom: 1.0em; }

h1 { margin: 0px 0px 5px; font: 165% verdana, arial, helvetica; }

h2 { margin-top: 1em; margin-bottom: 0.5em; font: bold 125% verdana, arial, helvetica; }

h3 { margin-bottom: 0.5em; font: bold 115% verdana, arial, helvetica; }

h4 { margin-bottom: 0.5em; font: bold 100% verdana, arial, helvetica; }

h5 { margin-bottom: 0.5em; font: bold 100% verdana, arial, helvetica; }

h6 { margin-bottom: 0.5em; font: bold 100% verdana, arial, helvetica; }

.Error { font-weight: bold; color: red; }

.Failure, .Unexpected { background: #ff0000; font-weight: bold; color: black; }

.Unknown { background: #ffff00; font-weight: bold; color: black; }

.Pass, .Expected { background: #00ff00; font-weight: bold; color: black; }

.Properties { text-align: right; }

CODE.expected { color: green; background: none; font-weight: normal; }

CODE.actual { color: red; background: none; font-weight: normal; }

.typeinfo { color: gray; }
