.pdf {
  background: lime;
}
.pdf .top_right_menu {
  float: right;
  margin-top: 20px;
  font-weight: bold;
  color: #670034;
}
.pdf .header .logo img {
  width: 122px;
  padding-right: 30px;
}
/*# sourceMappingURL=CampAreaPDF.css.map */