/*------------------------------------------------------------------
# [Layout Desktop - max-width: 1024px]

+ Inquiry Form / .inquiry-form
+ Puzzle / .puzzle


------------------------------------------------------------------*/
@media screen and (max-width: 1280px) {
  /*------------------------------------------------------------------
	[Inquiry / .inquiry]
	*/
  .inquiry-form select,
  .inquiry-form input[type="submit"] {
    height: 40px;
    line-height: 40px;
  }
  .house-banners li {
    margin: 0 auto 60px;
  }
  .house-banners li:nth-child(3n-2) {
    width: 50%;
  }
  .house-banners li:nth-child(3n-2) a {
    margin-right: 40px;
  }
  .house-banners li:nth-child(3n-1) {
    width: 50%;
  }
  .house-banners li:nth-child(3n-1) a {
    margin-right: 0;
    margin-left: 40px;
  }
  .house-banners li:nth-child(3n) {
    width: 50%;
  }
  .house-banners li:nth-child(3n) a {
    margin-right: 40px;
    margin-left: 0;
  }
  .house-banners .detail {
    min-height: 160px;
  }
}
/*# sourceMappingURL=responsive_desktop_1280.css.map */