.youtube-video figure {
  position: relative;
}
.youtube-video figure:before,
.youtube-video figure:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: .5;
  transition: opacity .5s;
  z-index: 2;
}
.youtube-video figure:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 30px 42.42px;
  border-color: transparent transparent transparent #fff;
  margin: -30px 0 0 -15px;
  box-sizing: content-box;
}
.youtube-video figure:after {
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  border: solid 10px #fff;
  border-radius: 60px;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px #000;
}
.youtube-video:hover figure:before,
.youtube-video:hover figure:after {
  opacity: .7;
}
/*# sourceMappingURL=youtube-video.css.map */