/*------------------------------------------------------------------
# [Variables]

+ Color codes
+ Layout
------------------------------------------------------------------*/

@black: #000000;
@white: #ffffff;
@gray: #cccccc;
@purple: #670034;
@brown: #7d4b28;
@blue: #5e93c4;

@text: #333333;
@text-link: #333333;

@background-body: #ffffff;


/*------------------------------------------------------------------
# [Layout Variables]
------------------------------------------------------------------*/

@page-width: 100%;
@page-max-width: 1380px;
@page-padding: 50px;
@grid-margin: 0;


@bp_480:~"screen and (min-width: 480px)";
@bp_560:~"screen and (min-width: 560px)";
@bp_640:~"screen and (min-width: 640px)";
@bp_768:~"screen and (min-width: 768px)";
@bp_850:~"screen and (min-width: 850px)";
@bp_950:~"screen and (min-width: 950px)";
@bp_1024:~"screen and (min-width: 1024px)";
@bp_1100:~"screen and (min-width: 1100px)";
@bp_1280:~"screen and (min-width: 1280px)";
@bp_1360:~"screen and (min-width: 1360px)";

@bp_441:~"screen and (min-width: 441px)";
@bp_601:~"screen and (min-width: 601px)";
@bp_736:~"screen and (min-width: 736px)";
@bp_901:~"screen and (min-width: 901px)";

@bp_max_440:~"screen and (max-width: 440px)";
@bp_max_560:~"screen and (max-width: 559px)";
