	@font-face {
	  font-family: 'GothamBoldRegular';
	  src: url('{$BaseHref}mysite/fonts/Gotham-Bold.eot');
	  src: url('{$BaseHref}mysite/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('{$BaseHref}mysite/fonts/Gotham-Bold.woff') format('woff'), url('{$BaseHref}mysite/fonts/Gotham-Bold.ttf') format('truetype'), url('{$BaseHref}mysite/fonts/Gotham-Bold.svg#gotham_ot_mdmedium') format('svg');
	  font-weight: bold;
	  font-style: normal;
	}
	@font-face {
	  font-family: 'GothamBookRegular';
	  src: url('{$BaseHref}mysite/fonts/gothamot_book-webfont.eot');
	  src: url('{$BaseHref}mysite/fonts/gothamot_book-webfont.eot?#iefix') format('embedded-opentype'), url('{$BaseHref}mysite/fonts/gothamot_book-webfont.woff') format('woff'), url('{$BaseHref}mysite/fonts/gothamot_book-webfont.ttf') format('truetype'), url('{$BaseHref}mysite/fonts/gothamot_book-webfont.svg#gotham_otbook') format('svg');
	  font-weight: 400;
	  font-style: normal;
	}
	@font-face {
	  font-family: 'GothamMediumRegular';
	  src: url('{$BaseHref}mysite/fonts/gothamot_medium-webfont.eot');
	  src: url('{$BaseHref}mysite/fonts/gothamot_medium-webfont.eot?#iefix') format('embedded-opentype'), url('{$BaseHref}mysite/fonts/gothamot_medium-webfont.woff') format('woff'), url('{$BaseHref}mysite/fonts/gothamot_medium-webfont.ttf') format('truetype'), url('{$BaseHref}mysite/fonts/gothamot_medium-webfont.svg#gotham_ot_mdmedium') format('svg');
	  font-weight: 400;
	  font-style: normal;
	}
	@font-face {
	  font-family: 'GothamBlackRegular';
	  src: url('{$BaseHref}mysite/fonts/gotham-black-webfont.eot');
	  src: url('{$BaseHref}mysite/fonts/gotham-black-webfont.eot?#iefix') format('embedded-opentype'), url('{$BaseHref}mysite/fonts/gotham-black-webfont.woff') format('woff'), url('{$BaseHref}mysite/fonts/gotham-black-webfont.ttf') format('truetype'), url('{$BaseHref}mysite/fonts/gotham-black-webfont.svg#GothamBlackRegular') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}
	@font-face {
	  font-family: 'GothamLightRegular';
	  src: url('{$BaseHref}mysite/fonts/gothamot_light-webfont.eot');
	  src: url('{$BaseHref}mysite/fonts/gothamot_light-webfont.eot?#iefix') format('embedded-opentype'), url('{$BaseHref}mysite/fonts/gothamot_light-webfont.woff') format('woff'), url('{$BaseHref}mysite/fonts/gothamot_light-webfont.ttf') format('truetype'), url('{$BaseHref}mysite/fonts/gothamot_light-webfont.svg#gotham_ot_ltlight') format('svg');
	  font-weight: 400;
	  font-style: normal;
	}

	.pdf,
	html,
	body {
		margin: 0;
		padding: 0;
	}

	.pdf,
	body {
	  font-family: GothamLightRegular, Arial;
	  font-weight: 200;
	  font-size: 18px;
	  color: #333333;
	}


	.pdf h1,
	.pdf h2,
	.pdf h3,
	.pdf h4,
	.pdf h5,
	.pdf h6 {
	  margin: 0;
	  padding: 0;
	  font-family: GothamLightRegular, Arial;
	  font-weight: 200;
	}
	.pdf h1 {
		font-family: GothamBoldRegular, Arial;
	  text-align: left;
	  font-size: 28px;
	  line-height: 30px;
		color: #333333;
	  text-transform: uppercase;
	  margin-bottom: 35px;
	}
	.pdf h2 {
	  text-transform: uppercase;
	  font-size: 42px;
	  line-height: 46px;
	}

	.pdf .col h2 {
	  margin: 0 0 30px;
	}
	.pdf .col p {
	  margin: 0 0 40px;
	  font-size: 20px;
	  line-height: 34px;
	}

	.pdf img {
		max-width: 100%;
	}

	.pdf a {
	  color: #333333;
	}

	.pdf {
		padding: 0 30px 30px;
		background: url({$BaseHref}mysite/images/logo-pdf.png) no-repeat bottom right;
	}

	.pdf .header .wrapper {
	  position: relative;
		width: 100%;
	  padding: 40px 0;
	  height: 122px;
	}
	.pdf .header .logo {
	  float: left;
	}
	.pdf .header .logo img {
	  float: left;
		padding-right: 30px;
	  border-right: 1px solid #333;
	}
	.pdf .header .logo h4 {
	  float: left;
	  margin: 45px 0 0 30px;
	  text-transform: uppercase;
	  font-size: 26px;
	  font-family: GothamLightRegular, Arial;
	  font-weight: 200;
	}

	.pdf .top-text {
		/*position: absolute;*/
		/*top: 48px;*/
		/*right: 0;*/
		list-style: none;
		float: right;
		margin-top: 28px;
	}

	.pdf .top-text li {
		padding: 0;
		text-transform: uppercase;
		font-family: GothamBoldRegular, Arial;
		font-size: 18px;
		line-height: 22px;
		color: #670034;
	}
