

@bloomingvilleColorBlack: #121212;
@bloomingvilleColorLink: #295c71;
@bloomingvilleColorBlue: #295c71;
@bloomingvilleColorLightBlue: #32708a;
@bloomingvilleColorText: #333;



/* body BG */

.bloomingville {
	color: @bloomingvilleColorText;


	/* hambureger */

	.line-1,
	.line-2,
	.line-3 {
		background: @bloomingvilleColorBlue;
	}

	/* default link */

	a {
		color: @bloomingvilleColorLink;
	}


	/* nav */

	.navigation-primary {
		a {
			color: #a9a9a9;
		}


		.selected {
			a {
				color: @bloomingvilleColorBlue;
			}
		}

		li {
			a:hover {
				color: @bloomingvilleColorBlue;
			}
		}

		.languages {
			a {
				&:hover {
					color: @bloomingvilleColorBlue;
				}

				&.active {
					&:hover {
						color: #a9a9a9;
					}
				}
			}
		}
	}


	/* tabs */

	.tabs {
		ul {
			li {
				a {
					color: @bloomingvilleColorText;

					&:hover {
						color: white;
					}
				}

				&.active {
					a {
						color: @bloomingvilleColorBlack;
						background-color: white;



						&:after {
							border-top-color: @bloomingvilleColorBlack;
							bottom: -8px;
						}
					}
				}
			}
		}
	}

	.btn.purple {
		background-color: @bloomingvilleColorBlue;
		color: white;

		&:hover {
			background-color: @bloomingvilleColorLightBlue;
		}
	}

	input[type="submit"] {
		background-color: @bloomingvilleColorBlue;

		&:hover {
			background-color: @bloomingvilleColorLightBlue;
		}
	}

	.footer input[type="email"] {
		border-color: #333;
		background: #333;
		color: @white;
	}

	.file {
		background: @bloomingvilleColorBlue;
		color: white;

		&:hover {
			background-color: @bloomingvilleColorLightBlue;
		}

		b {
			border-color: @bloomingvilleColorText;
			color: @bloomingvilleColorText;
			background: white;
		}
	}


	.pdf-video {

		.col-1 {
			.description {
				background: @bloomingvilleColorBlue;
				color: white;

				h2,
				a {
					color: white !important;
				}
			}
		}
	}

	.footer input[type="email"]::-webkit-input-placeholder {
		color: @white;
	}

	.footer input[type="email"]:-moz-placeholder {
		color: @white;
	}

	.footer input[type="email"]::-moz-placeholder {
		color: @white;
	}

	.footer input[type="email"]:-ms-input-placeholder {
	    color: @white;
	}

	.foursome {
		h3,
		p {
			color: @bloomingvilleColorText;
		}
	}

	.footer {
		a {
			color: @bloomingvilleColorText;

			&:hover {
				color: @bloomingvilleColorLightBlue;
			}
		}
	}
}



/* sprites */
.fashiontv {
	.select2-container--mobile-menu,
	.select2-container--default {
		.select2-selection--single {
			.select2-selection__arrow {
				b {
					.sprite100ftv;
				}
			}
		}
	}

	.slideshow {
		.slides-navigation {
			.next,
			.prev {
				.sprite100ftv;
			}
		}
	}

	.inquiry-form {
		.tel {
			span {
				.sprite100ftv;
			}
		}
	}

	input[type="submit"].arrow {
		.sprite100ftv;
	}

	.no-persons {
		.sprite100ftv;
	}

	.share {
		a {
			.sprite100ftv;
		}

		.pinterest {
			.sprite100ftv-2;
		}
	}

	.video-button {
		&:after {
			.sprite100ftv;
		}
	}

	.footer {
		.social {
			a {
				.sprite100ftv;
			}

			.tr {
				.sprite100ftv-2;
			}
		}
	}
}
/* retina */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.fashiontv {
		.select2-container--mobile-menu,
		.select2-container--default {
			.select2-selection--single {
				.select2-selection__arrow {
					b {
						.sprite200ftv;
					}
				}
			}
		}

		.slideshow {
			.slides-navigation {
				.next,
				.prev {
					.sprite200ftv;
				}
			}
		}

		.inquiry-form {
			.tel {
				span {
					.sprite200ftv;
				}
			}
		}

		input[type="submit"].arrow {
			.sprite200ftv;
		}

		.no-persons {
			.sprite200ftv;
		}

		.share {
			a {
				.sprite200ftv;
			}

			.pinterest {
				.sprite200ftv-2;
			}
		}

		.video-button {
			&:after {
				.sprite200ftv;
			}
		}

		.footer {
			.social {
				a {
					.sprite200ftv;
				}

				.tr {
					.sprite200ftv-2;
				}
			}
		}
	}
}
