/* animated clouds */

@media screen and (max-width: 440px) {
	.sky {
		.adapt {
			padding: 0 34px;
		}
	}
}

@media screen and (max-width: 600px) {
	.sky {
		.adapt {
			padding: 0 30px;
		}
	}
}
.page {

}
@media screen and (max-width: 900px) {
	.sky {
		.adapt {
			padding: 0 20px;
		}
	}
}



@media screen and (min-width: 768px) {

	.sky {
		padding: 30px 0;
		background: url("../images/sky_bg.jpg");
		background-size: 100% 500px;
		background-repeat: no-repeat;
		position: relative;
		overflow: hidden;
		z-index: 4;

		.adapt {
			text-align: center;
			width: 100%;
			.box-sizing;
			max-width: 1380px;
			padding: 0 50px;
			margin: 0 auto;
			position: relative;
			z-index: 5;
		}

		img {
			margin: 0 auto;
		}
	}

	@media (max-width: 767px) {
		.sky {
			background-position: 0 -10%;
			background-size: 100% 70%;
		}
	}

	@media (min-width: 768px) and (max-width: 991px) {
		.sky {
			background-size: 100% 75%;
		}
	}

	@media (min-width: 992px) and (max-width: 1199px) {
		.sky {
			background-size: 100% 80%;
		}
	}

	.clouds_one {
		background: url("../images/cloud_one.png");
		position: absolute;
		background-repeat: repeat-x;
		left: 0;
		top: -170px;
		height: 100%;
		width: 300%;
		z-index: 2;
		-webkit-animation: cloud_one 200s linear infinite;
		-moz-animation: cloud_one 200s linear infinite;
		-o-animation: cloud_one 200s linear infinite;
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
	}

	@media (max-width: 767px) {
		.clouds_one {
			top: -35%;
			background-size: 30% 100%;

		}
	}

	.clouds_two {
		background: url("../images/cloud_two.png");
		position: absolute;
		background-repeat: repeat-x;
		left: 0;
		top: -120px;
		height: 100%;
		width: 300%;
		z-index: 3;
		-webkit-animation: cloud_two 150s linear infinite;
		-moz-animation: cloud_two 150s linear infinite;
		-o-animation: cloud_two 150s linear infinite;
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
	}

}

@media (max-width: 767px) {
	.clouds_two {
		top: -25%;
		background-size: 30% 100%;
	}	
}


@-webkit-keyframes cloud_one {
	0% {
		left: 0
	}

	100% {
		left: -200%
	}
}

@-webkit-keyframes cloud_two {
	0% {
		left: 0
	}

	100% {
		left: -200%
	}
}

@-moz-keyframes cloud_one {
	0% {
		left: 0
	}

	100% {
		left: -200%
	}
}

@-moz-keyframes cloud_two {
	0% {
		left: 0
	}

	100% {
		left: -200%
	}
}


/* end of animated clouds */
	