/*------------------------------------------------------------------
# [Elements]

+ Buttons
+ Table


------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Buttons]
*/

.hoverTransition() {
	.transition(all .1s ease-in);
}

.hoverFunction(@color: black) {
	&:hover {
		background-color: lighten(@color, 10%);
	}
}

.btn {
	height: 50px;
	line-height: 50px;
	padding: 0 35px;
	text-transform: uppercase;
	color: @white;
	.gotham-book;
	font-size: 20px;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	.hoverTransition;

	&.blue {
		background-color: @blue;
		.hoverFunction(@blue);
	}

	&.brown {
		background-color: @brown;
		.hoverFunction(@brown);
	}

	&.purple {
		background-color: @purple;
		.hoverFunction(@purple);
	}

	&.medium {
		.gotham-medium;
	}
}


.file {
	margin: 0 0 4px;
	padding: 0 0 0 20px;
	color: @white !important;
	display: block;
	.gotham-medium;
	font-size: 12px;
	line-height: 24px;
	text-transform: uppercase;
	position: relative;
	background: @purple;
	float: left;
	clear: left;
	.hoverTransition;
	.hoverFunction(@purple);

	span {
		color: @text;
	}

	b {
		margin: 0 0 0 20px;
		font-weight: bold;
		.gotham-black;
		font-size: 12px;
		padding: 0 10px;
		height: 30px;
		line-height: 30px;
		color: @text;
		background: @white;
		display: inline-block;
		border: 2px solid @text;
		//border-left: 0;
	}
}

.file-list {
	.file {
		display: inline-block;
		margin-right: 16px;
		float: none;
		text-decoration: none;
	}
}

/*------------------------------------------------------------------
[Table]
*/

table {
	.box-sizing;
	/*float: right;*/
	border-collapse: collapse;
	font-size: 16px;
	width: 100%;
	/*max-width: 500px;
	padding-right: 40px;*/
	margin-bottom: 20px;

	th,
	td {
		padding: 8px 0;
		vertical-align: top;
		border-bottom: 1px solid #dadada;
	}

	th {
		text-align: left;
		font-weight: 200;
		padding-right: 10px;
		.gotham-medium;
	}

	td {
		text-align: right;
	}

	tfoot {

		td {
			border-bottom: none;
			text-align: left;
			padding: 20px 0;
		}
	}
}