/*------------------------------------------------------------------
# [Layout Desktop - max-width: 1100px]

+ Header / .header
+ Inquiry / .inquiry
+ Inquiry Form / .inquiry-form
+ Puzzle / .puzzle
+ Article / .article

# [Layout Desktop - max-width: 950px]

+ Houses / .houses

------------------------------------------------------------------*/

@media screen and (max-width: 1100px) {


	/*------------------------------------------------------------------
	[Header / .header]
	*/

	.header {
		
		.wrapper {
			position: relative;
			//padding: 40px 0;
			//height: 122px;
		}


		.logo {

			img {
				//width: 122px;
				//padding-right: 30px;
			}

			h4 {
				//margin: 45px 0 0 30px;
				//font-size: 26px;
			}
		}
	}


	/*------------------------------------------------------------------
	[Inquiry / .inquiry]
	*/

	.inquiry {

		.wrapper {
			position: relative;
			height: 450px;
		}

		.featured-offer {
			height: 100%;
			width: 50%;
			border-right: 12px solid @white;

			&:after {
				content: none;
			}

			.offer {
				bottom: 30px;
				left: 30px;
				right: 30px;

				h4 {
					font-size: 18px;

					strong {
						line-height: 30px;
						font-size: 26px;
						padding-right: 140px;
					}
				}

				em {
					line-height: 30px;
					font-size: 24px;
					padding-top: 2px;
				}
			}
		}

		.responsive-container {
			display: none;
		}
	}

	/*------------------------------------------------------------------
	[Inquiry Form / .inquiry-form]
	*/

	.inquiry-form {
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
		border-top: none;
		border-left: 12px solid @white;

		select,
		input[type="submit"] {
			height: 50px;
			line-height: 50px;
		}

		input[type="submit"] {

		}
		
		form {
			//padding: 0 50px;
		}

		h4 {
			//padding-top: 30px;
			//font-size: 28px;
		}
		
		.tel {
			display: block;
		}
	}


	/*------------------------------------------------------------------
	[Puzzle / .puzzle]
	*/

	.puzzle {
		
		.title {

			h1 {
				left: 20px;
				top: 20px;
				right: 20px;
				font-size: 26px;
				line-height: 30px;

				strong {
					
				}
			}
		}

		&.rent {
			
			.inquiry-form {
				padding-top: 0px;
				border-left: none;

				form {
					padding: 30px 30px 0 30px;
				}

				h4 {
					font-size: 24px;
					padding-bottom: 20px;
				}

				.tel {
					margin-top: 20px;
					padding-top: 20px;
				}
			}
		}
	}

	/*------------------------------------------------------------------
	[Article / .article]
	*/

	.article {

		h1 {
			width: 70%;
		}

	}


	.fashiontv-teaser {
			.logo {
				position: static;
			}
		}
}



@media screen and (max-width: 950px) {

	/*------------------------------------------------------------------
	[Houses / .houses]
	*/

	.houses {

		.houses-item {

			.grid {
				margin: 0;
			}

			.span_1_of_2 {
				width: 100%;
				float: none;
				padding: 0;
				clear: both;

				&:first-child {
					
				}


			}
		}

		.wrapper {
			margin-top: 24px;
			padding-bottom: 10px;
		}

		.house-info {

			.wrapper {
				min-height: 0px;
			}
		}
	}

}