/*------------------------------------------------------------------
# [Layout Desktop - max-width: 1024px]

+ Inquiry Form / .inquiry-form
+ Puzzle / .puzzle


------------------------------------------------------------------*/

@media screen and (max-width: 1280px) {

	/*------------------------------------------------------------------
	[Inquiry / .inquiry]
	*/
	.inquiry-form {

		h4 {
			//margin: 20px 0 0;
			//font-size: 19px;
		}

		form {
			//padding: 0 20px 0 20px;
		}

		select,
		input[type="submit"] {
			height: 40px;
			line-height: 40px;
		}
	}

	.house-banners {
		li {
			margin: 0 auto 60px;

			&:nth-child(3n-2) {
				width: 50%;

				a {
					margin-right: 40px;
				}
			}

			&:nth-child(3n-1) {
				width: 50%;

				a {
					margin-right: 0;
					margin-left: 40px;
				}
			}
			&:nth-child(3n) {
				width: 50%;

				a {
					margin-right: 40px;
					margin-left: 0;
				}
			}
		}

		.detail {
			min-height: 160px;
		}
	}
}