.tags {
	.font-size(0);
	text-align: center;

	h2 {
		margin-bottom: 40px;
	}

	fieldset {
		padding: 0 0 40px;
	}

	input[type=checkbox] {
		display: none;

		&:checked + label {
			background: #333;
			color: #fff;
			padding: 0 28px 0 15px;

			&:hover {
				.hoverTransition;
				.hoverFunction(#333);
			}

			&:after {
				content: '';
				width: 10px;
				height: 10px;
				background: url(../images/remove-tag.png);
				background-size: 10px;
				position: absolute;
				right: 9px;
				top: 9px;
			}
		}
	}

	label {
		display: inline-block;
		position: relative;
		border: solid 1px #333;
		padding: 0 15px;
		line-height: 28px;
		font-size: 12px;
		text-transform: uppercase;
		color: #333;
		cursor: pointer;
		word-spacing: normal;
		margin: 0 10px 15px 0;

		&:hover {
			.hoverTransition;
			.hoverFunction(#333);
			color: #fff;
		}
	}
}

.listed-tags {
	text-align: center;
	font-family: arial, helvetica, sans-serif;
	font-size: 13px;

	a {
		color: #999;
	}
}

.col {
	.listed-tags {
		margin-top: -20px;

		li {
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}
}

.tag-unit {
	padding-bottom: 40px;
}