.homepage-elements-size-wrapper {
	margin: 0 auto;
	max-width: 1280px;
}
.homepage-elements-wrapper {
	margin: 0 -20px;
	@media @bp_441 {
		margin: 0 -30px;
	}
	@media @bp_601 {
		margin: 0 -34px;
	}
	@media @bp_736 {
		margin: 0 -14px;
	}
	@media @bp_901 {
		margin: 0 -30px;
	}
	@media @bp_1280 {
		margin: 0;
	}
}
.homepage-elements {
	.clear;
	margin: 0 -3px 0 0;

	@media @bp_736 {
		margin: 0 -28px 0 0;
	}

	@media @bp_1280 {
		margin: 0 -65px 0 0;
	}
}
.homepage-elements-item {
	box-sizing: border-box;
	float: left;
	width: 33.33%;
	padding: 0 3px 3px 0;

	@media @bp_736 {
		padding: 0 28px 28px 0;
	}
	@media @bp_1280 {
		padding: 0 65px 40px 0;
	}

	&:nth-child(3n + 1) {
		clear: left;
	}

	.wrapper {
		position: relative;
	}
	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background: fade(#000, 50);
		padding: 25px;
		box-sizing: border-box;
		color: #fff;
		display: none;
		@media @bp_1280 {
			padding: 50px;
		}
	}

	h3 {
		text-align: center;
		font-size: 30px;
		text-transform: uppercase;
		margin: 0 0 20px;
	}
	p {
		margin: 0 0 15px;
		font-size: 16px;
		line-height: 1.2em;
	}
	.tel {
		margin: 10px 0 0;
		font-size: 30px;
		line-height: 36px;
		vertical-align: middle;
		text-align: center;

		.icon {
			background: url(../images/phone.png) 50% 50% no-repeat;
			background-size: contain;
			width: 34px;
			height: 34px;
			border: solid 2px #fff;
			border-radius: 57px;
			display: inline-block;
			vertical-align: middle;
			margin: -8px 0 -4px;
		}
	}

	.label {
		font-size: 11px;
		line-height: 15px;
		text-align: center;
		text-transform: none;
		text-overflow: ellipsis;
		height: 15px;
		white-space: nowrap;
		width: 100%;
		overflow: hidden;
		.gotham-medium;

		@media @bp_601 {
			font-size: 13px;
			padding-top: 2px;
		}
		@media @bp_1280 {
			.gotham-light;
			font-size: 18px;
			line-height: 20px;
			height: 20px;
			padding: 20px 0;
		}
	}
}