.mobile-trigger {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0;
	background: 0;
	width: 36px;
	height: 36px;
	float: right;
	margin: 22px 0 0;
	position: relative;

	@media @bp_560 {
		display: none;
	}

	span {
		position: absolute;
		height: 2px;
		width: 24px;
		background: @purple;
		margin: -1px -12px;
		top: 50%;
		left: 50%;
		transition: background .5s;

		&:before,
		&:after {
			transition: transform .5s;
			content: '';
			position: absolute;
			background: @purple;
			width: 100%;
			height: 100%;
			left: 0;
			top: 6px;
		}
		&:after {
			top: auto;
			bottom: 6px;
		}
	}

	&.is-open {
		span {
			background: #fff;
			&:before {
				transform: translateY(-6px) rotate(45deg);
			}
			&:after {
				transform: translateY(6px) rotate(-45deg);
			}
		}
	}

	@media @bp_max_560 {
		&.is-open + .main-navigation {
			height: 230px;
		}
	}


}
.header {
	position: relative;
		z-index: 3;
}

.main-navigation {
	.open-sub-navi {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: 0;
		background: 0;
		padding: 0;
		margin: 0;
		display: inline;
	}
	@media @bp_max_560 {
		height: 0;
		overflow: hidden;
		transition: height .5s;
		position: absolute;
		background: #fff;
		width: 100%;
		padding: 0 20px;
		left: -20px;
		top: 138px;

		a, button {
			padding: .1em 0;
			display: inline-block;
			text-transform: uppercase;
		}
		a {
			&:hover {
				opacity: .8;
			}
		}
		.open-sub-navi {
			cursor: default;
		}
		.menu {
			padding: 20px 0;
		}
		.languages {
			word-spacing: 10px;
			a {
				word-spacing: normal;
				display: inline-block;
				width: 32px;
				height: 32px;
				line-height: 32px;
				border: solid 2px #eee;
				text-align: center;
				padding: 0;
				font-size: 15px;
				color: #888;
				.gotham-medium;
				&.active {
					border-color: @purple;
					color: @purple;
				}
			}
		}
		.sub-navigation {
			font-size: .9em;
			padding: 0 0 0 20px;
		}
	}
	@media @bp_441 {
		padding: 0 30px;
		left: -30px;
	}
	@media @bp_560 {
		padding: 45px 0 0 20px;
		left: 0;
		float: left;
		.menu {
			display: inline-block;
			word-spacing: 12px;
			white-space: nowrap;
			> li {
				word-spacing: normal;
				display: inline-block;
				vertical-align: top;
				position: relative;
			}
			a,
			button {
				font-size: 14px;
				text-transform: uppercase;
				&:hover {
					text-decoration: underline;
				}
			}
			.open-sub-navi {
				position: relative;
				z-index: 2;
				padding: 0 20px 0 0;
				&:before {
					content: '';
					width: 6px;
					height: 6px;
					position: absolute;
					border: solid #555;
					border-width: 0 1px 1px 0;
					transform: rotate(45deg);
					right: 4px;
					top: 3px;
				}
			}
			.is-open {
				+ .sub-navigation {
					height: 85px;
				}
			}
			.sub-navigation {
				transition: height .2s;
				position: absolute;
				z-index: 1;
				left: -7px;
				top: -2px;
				overflow: hidden;
				width: 100%;
				height: 0;
				background: #f5f5f5;
				padding: 0 7px;

				li {
					&:first-child {
						margin: 25px 0 5px;
					}
					a {
						font-size: 13px;
						padding: 0 5px;
					}
				}
			}
		}
		.languages {
			display: inline-block;
			position: absolute;
			right: 0;
			top: 47px;
			font-size: 14px;
			word-spacing: 10px;
			a {
				word-spacing: normal;
			}
		}
	}
	@media @bp_768 {
		padding: 70px 0 0 40px;

		.menu {
			word-spacing: 20px;
			a,button {
				font-size: 16px;
			}

			.open-sub-navi {
				&:before {
					top: 4px;
				}
			}
		}
		.languages {
			top: 67px;
		}
	}
	@media @bp_1024 {
		padding: 90px 0 0 40px;
		.menu {
			a,button {
			}
		}
		.languages {
			top: 100px;
			font-size: 16px;
		}
	}
	@media @bp_1280 {
		padding: 120px 0 0 70px;
		.languages {
			top: 127px;
		}
	}

}