/*------------------------------------------------------------------
# [Modules]

+ Body / body
+ Container / .container
+ Main / .main
+ Page / .page
+ Header / .header
+ Footer / .footer
+ Inquiry / .inquiry
+ Inquiry Form / .inquiry-form
+ Section / .section
+ Big Berry / .big-berry
+ Foursome / .foursome
+ Share  / .share
+ Puzzle / .puzzle
+ Slideshow / .slideshow
+ Tabs / .tabs
+ General Info / .general-info
+ Apartment / .apartment
+ Rooms / .rooms
+ Article / .article
+ Contact Form / .contact-form
+ Filter / .filter
+ Description / .description
+ Houses / .houses


------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Body / body]
*/

body {
	background-color: @background-body;
}

/*------------------------------------------------------------------
[Container / .container]
*/

.container {
	overflow-x: hidden;
}

/*------------------------------------------------------------------
[Main / .main]
*/

.main {

	h1 {

		&.title {
			font-size: 42px;
		}
	}
}

/*------------------------------------------------------------------
[Page / .page]
*/

.page {
	.clearfix;
	.box-sizing;
	width: @page-width;
	max-width: @page-max-width;
	padding: 0 @page-padding;
	margin: 0 auto;
	//.HomePage & {
	//	max-width: 935px + 100;
	//}
}

/*------------------------------------------------------------------
[Header / .header]
*/

.header {
	
	.wrapper {
		position: relative;
		padding: 30px 0;
		height: 80px;


		@media @bp_768 {
			height: 122px;
			padding: 40px 0;
		}
		@media @bp_1024 {
			height: 170px;
			padding: 50px 0;
		}

		@media @bp_1280 {
			height: 210px;
			padding: 50px 85px 70px;
		}
	}


	.logo {
		float: left;
		position: relative;

		img {
			width: 80px;
			float: left;
			@media @bp_560 {

				padding-right: 20px;
				border-right: 1px solid #333;
			}

			@media @bp_768 {
				width: 122px;
				padding-right: 40px;
			}
			@media @bp_1024 {
				width: 170px;
			}

			@media @bp_1280 {
				max-width: none;
				width: 210px;
				padding-right: 80px;
			}
		}

		h4 {
			position: absolute;
			//margin: 55px 0 0 0;
			text-transform: uppercase;
			white-space: nowrap;
			font-size: 20px;
			.gotham-light;
			top: 0;
			left: 100px;
			display: none;
			@media @bp_560 {
				display: block;
				margin: 10px 0 0 20px;
			}
			@media @bp_768 {
				margin: 20px 0 0 0;
				left: 203px;
				font-size: 26px;
			}

			@media @bp_1024 {
				margin: 35px 0 0 0;
				font-size: 30px;
				left: 251px;
			}
			@media @bp_1280 {
				font-size: 35px;
				margin: 60px 0 0 0;
				left: 361px;
			}
		}
	}

	.navigation-trigger {
		//.sprites;
		//background-position: right top;
		width: 60px;
		height: 52px;
		position: absolute;
		.ir;
		right: -12px;
		top: 50%;
		margin-top: -26px;
		cursor: pointer;
	}
}

/*------------------------------------------------------------------
[Footer / .footer]
*/

.footer {
	.clearfix;
	font-size: 20px;
	text-align: center;
	padding-bottom: 50px;

	.wrapper-clear {
		width: 100%;
		.clear;
		position: relative;
	}


	form {

		.wrapper {
			position: relative;
			width: 395px;
			margin: 26px auto 5px auto;
		}
	}

	.section {

		h2 {
			margin-bottom: 15px !important;
		}
	}

	a {
		.hoverTransition;
		&:hover {
			color: lighten(@text, 25%);
		}
	}

	p {
		margin: 0;
		padding: 0;
	}

	input[type="email"] {
		.box-sizing;
		.gotham-light;
		font-size: 36px;
		color: @text;
		border: 1px solid #dadada;
		height: 70px;
		padding: 0 10px;
		text-align: center;
		line-height: 70px;
		width: 100%;
		padding-right: 80px;
		background-color: transparent;
	}

	input[type="submit"] {
		position: absolute;
		top: 0;
		right: 0;
		text-indent: -4000px;
	}

	.divider {
		clear: both;
		height: 1px;
		background-color: #dadada;
		margin: 50px 0 35px 0;
		position: relative;
	}

	ul {
		.clearfix;

		li {
			.font-arial;
			padding: 0 25px;
			border-left: 1px solid #dadada;
			font-size: 14px;
			float: left;

			&:first-child {
				border-left: none;
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}

	.links {
		position: absolute;
		top: -2px;
		left: 0;
	}

	.legal {
		position: absolute;
		top: -2px;
		right: 0;
	}

	.social {
		clear: both;
		margin: 40px auto 0 auto;
		display: inline-block;
		font-size: 0;
		word-spacing: 10px;

		li {
			border: none;
			padding: 0 0 10px;
			display: inline-block;
			float: none;
			word-spacing: normal;
		}

		a {
			display: block;
			.sprite100;
			width: 46px;
			height: 46px;
			.hide-text;
		}


		.tw {
			background-position: -10px -440px;
		}

		.fb {
			background-position: -96px -440px;
		}

		.pi {
			background-position: -182px -440px;
		}

		.yt {
			background-position: -526px -440px;
		}

		.gp {
			background-position: -354px -440px;
		}

		.ig {
			background-position: -440px -440px;
		}

		.fl {
			background-position: -612px -440px;
		}

		.tr {
			.sprite100-2;
			background-position: -96px -440px;
		}
		.md {
			.sprite100-2;
			background-position: -200px -440px;
			background-size: auto;
		}
		.is {
			.sprite100-2;
			background-position: -270px -440px;
			background-size: auto;
		}

	}
}

.center-photo {
	margin: 0 0 80px;
	text-align: center;

	img {
		margin: 0 auto;
	}
}

.top-button {
	position: absolute;
	right: 0;
	top: -70px;
	width: 70px;
	height: 70px;
	overflow: hidden;
	display: block;
	background: #dadada;
	.ir;
	.sprite100;
	background-position: -509px -203px;
}

/*------------------------------------------------------------------
[Inquiry / .inquiry]
*/

.inquiry {
	position: relative;
	background-size: cover;
	background-position: left top;
	background-repeat: no-repeat;
	margin-bottom: 50px;
	/*height: 630px;*/

	.wrapper {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		width: 100%;
	}

	a {
		display: block;
		height: 100%;
	}

	.featured-offer {
		.box-sizing;
		overflow: hidden;
		position: relative;
		float: left;
		display: block;
		float: left;
		/*width: 792px;*/
		width: 61.875%;
		background-image: url('../images/black_gradient.png');
		background-repeat: repeat-x;
		background-position: left bottom;

		&:after {
			content: " ";
			width: 24px;
			background-color: @white;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
		}

		.offer {
			position: absolute;
			bottom: 35px;
			left: 35px;
			right: 59px;
			color: @white;

			h4 {
				.gotham-book;
				font-size: 20px;

				strong {
					display: block;
					text-transform: uppercase;
					.gotham-medium;
					font-size: 34px;
					padding-right: 150px;
					line-height: 38px;
				}
			}

			em {
				line-height: 38px;
				position: absolute;
				bottom: 0;
				right: 0;
				.gotham-book;
				font-size: 28px;
				text-transform: none;
				font-style: normal;
			}
		}
	}
}

/*------------------------------------------------------------------
[Inquiry Form / .inquiry-form]
*/

.inquiry-form {
	//padding-top: 10px !important;
	.box-sizing;
	position: absolute;
	bottom: 0;
	right: 0;
	/*width: 36.25%;*/
	width: 38.125%;
	/*width: 488px;*/
	height: 50%;
	border-top: 24px solid @white;
	background-color: #e5e5e5;

	form {
		padding: 0 15% 0 15%;
		@media @bp_1100 {
			padding: 0 40px;
		}
	}

	h4 {
		margin-top: 30px;
		margin-left: 10%;
		margin-right: 10%;
		text-align: center;
		text-transform: uppercase;
		font-size: 15px;
		padding: 0 20px 20px;

		@media @bp_1280 {
			font-size: 20px;
			padding: 0 20px 10px;
			margin-top: 10px;
		}
		@media @bp_1280 {
			margin-top: 20px;
			font-size: 22px;
		}
	}
	input[type="date"],
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="submit"]{
		@media @bp_1100 {
			height: 40px;
			line-height: 40px;
		}
		@media @bp_1280 {
			height: 50px;
			line-height: 50px;
		}
	}
	.select2-container--default {
		.select2-selection--single {
			@media @bp_1100 {
				height: 40px;
			}
			@media @bp_1280 {
				height: 50px;
			}
			.select2-selection__rendered {
				@media @bp_1100 {
					height: 40px;
					line-height: 40px;
				}
				@media @bp_1280 {
					height: 50px;
					line-height: 50px;
				}
			}
			.select2-selection__arrow {
				@media @bp_1100 {
					top:5px;
				}
				@media @bp_1280 {
					top:10px;
				}
			}
		}
	}

	.Actions,
	.field,
	.form-row {
		margin-bottom: 10px;
		clear: both;
	}

	.Actions {
		text-align: center;
	}

	.grid {

		.col {
			width: 50%;
			margin: 0;
			padding-left: 6px;
			position: relative;

			&:first-child {
				padding-left: 0;
				padding-right: 6px;
			}
		}
	}

	input[type="submit"] {
		background-image: none;
	}

	.tel {
		display: none;
		padding-top: 30px;
		.gotham-book;
		font-size: 18px;
		height: 31px;
		line-height: 31px;
		text-align: center;

		span {
			margin: 0 auto;
			padding-left: 40px;
			display: inline-block;
			background: #e5e5e5;
			position: relative;

			&:before {
				content: ' ';
				.sprite100;
				background-position: -716px -334px;
				display: block;
				width: 50px;
				height: 50px;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}

	.middleColumn {
		position: relative;
	}
}

.mobile-date {
	width: 100%;
	display: none;
	clear: both;

	label {
		//padding-top: 10px;
		width: 100%;
		display: inline-block;
	}

	input {
		width: 100%;
	}
}

/*------------------------------------------------------------------
[Section / .section]
*/

.section {
	padding: 45px 0;
	.clearfix;

	> h2,
	> h1 {
		text-align: center;
		margin-bottom: 40px;
	}

	h1 {
		text-transform: uppercase;
	}

//	> h1 + p,
//	> h2 + p {
//		padding-bottom: 30px;
//	}

	>p {
		margin: 0 0 40px;
		font-size: 20px;
		text-align: center;
	}

	&.contact-form {
		padding-top: 0;
	}
}

/*------------------------------------------------------------------
[Big Berry / .big-berry]
*/

.big-berry {

	h2 {
		margin-bottom: 20px;
	}

	.grid {
		margin: 0 -12px;
	}

	.span_1_of_2 {
		position: relative;
		padding: 0 12px;
	}

	.btn {
		padding: 0;
		width: 192px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -98px;
		margin-top: -25px;
	}
}

/*------------------------------------------------------------------
[Foursome / .foursome]
*/

.foursome {

	img {
		display: block;
		width: 100%;
	}

	h3 {
		.gotham-book;
		text-align: center;
		font-size: 19px;
		padding: 20px 0;
	}

	p {
		padding: 0;
		margin: 0;
		.font-arial;
		font-size: 16px !important;
		line-height: 24px !important;
		text-align: center;
	}

	.grid {
		margin: 0 -12px;
	}

	.span_1_of_4 {
		padding: 0 12px;
		//padding-bottom: 50px;
	}

	&.featured,
	&.rent {

		.span_1_of_4 {

			&:nth-child(4n+1) {
				clear: both;
			}
		}

		.price {
			.gotham-medium;
			font-size: 19px;
			text-align: center;
			padding: 20px 0 10px 0;
		}
	}
}

/*------------------------------------------------------------------
[Share / .share]
*/

.share {
	text-align: center;

	ul {
		.clearfix;
		display: inline-block;

		li {
			padding: 0 0 0 20px;
			float: left;

			&:first-child {
				padding-left: 0;
			}
		}
	}

	a {
		display: block;
		.sprite100;
		width: 60px;
		height: 60px;
		.hide-text;
	}

	.tw {
		background-position: -10px -270px;
	}

	.fb {
		background-position: -98px -270px;
	}

//	.pi {
//		background-position: -200px -350px;
//	}

	.gplus {
		background-position: -198px -270px;
	}

//	.in {
//		background-position: -400px -350px;
//	}


	.pinterest {
		.sprite100-2;
		background-position: -10px -270px;
	}
}


/*------------------------------------------------------------------
[Puzzle / .puzzle]
*/

.puzzle {
	.clearfix;
	position: relative;
	padding-bottom: 50px;
	z-index: 1;

	.col-left {
		.box-sizing;
		float: left;
		width: 60%;
	}

	.col-right {
		.box-sizing;
		position: relative;
		float: right;
		width: 40%;
	}

	.thumb {
		margin: 0 0 24px 24px;
	}

	.title {
		position: relative;
		margin-left: 24px;
		color: @white;

		h1 {
			position: absolute;
			top: 40px;
			left: 40px;
			right: 40px;
			text-transform: uppercase;
			font-size: 32px;
			line-height: 36px;
			.gotham-light;
			text-align: left;
			margin-bottom: 0;

			strong {
				font-weight: 200;
				display: block;
				.gotham-medium;
			}
		}

		&.brown {
			background-color: @brown;
		}

		&.blue {
			background-color: @blue;
		}

		&.purple {
			background-color: @purple;
		}
	}

	&.rent {
		background-color: #e5e5e5;
		padding-bottom: 0;
		margin-bottom: 50px;

		.col-left {
			position: relative;

			&:after {
				content: " ";
				width: 24px;
				background: @white;
				position: absolute;
				top: 0;
				bottom: 0;
				right: -24px;
				z-index: 1;
			}
		}

		.col-right {
			padding-left: 24px;
		}

		.inquiry-form {
			.box-sizing;
			bottom: auto;
			left: 0;
			right: 0;
			width: 100%;
			border-top: none;
			//padding-left: 24px;
			height: auto;
			position: absolute;
			top: 50%;

			h4 {
				font-size: 28px;
				padding-bottom: 40px;
			}

			.tel {
				margin-top: 40px;
				padding-top: 40px;
//				border-top: 1px solid @white;
				display: block;
			}
		}
	}
}

/*------------------------------------------------------------------
[Slideshow / .slideshow]
*/

.slideshow {
	.clear;

	.slides {
//		position: relative;
//		overflow: hidden;
//
//		.responsive-container {
//			width: 100%;
//		}

		/*ul {
			width: 100%;

			li {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				display: none;

				&:first-child {
					display: block;
				}

				img {
					width: 100%;
				}
			}
		}
		*/

		figure {
			position: relative;

			figcaption {
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				top: 0;
				font-size: 34px;
				line-height: 38px;
				color: @white;
				background-image: url('../images/black_gradient.png');
				background-repeat: repeat-x;
				background-position: left bottom;

				&.no-shadow {
					background-image: none;
				}

				h5 {
					position: absolute;
					bottom: 30px;
					left: 30px;
					right: 30px;
					.gotham-light;

					strong {
						.gotham-book;
						font-weight: 200;
						display: block;
						text-transform: uppercase;
					}
				}
			}
		}
	}


	.arrow-left,
	.arrow-right {
		z-index: 4000;
		width: 66px;
		height: 66px;
		background-color: @white;
		position: absolute;
		.sprite100;
		top: 50%;
		margin-top: -33px;
		cursor: pointer;
		.opacity(.7);

		&:hover {
			.opacity(1);
		}
	}

	.arrow-left {
		left: 0;
		background-position: -703px -200px;
	}

	.arrow-right {
		right: 0;
		background-position: -797px -200px;
	}

	.slick-total {
		width: 66px;
		position: absolute;
		top: 50%;
		right: 0;
		padding: 17px 0;
		background: #333;
		color: @white;
		font-size: 17px;
		text-align: center;
		z-index: 4000;
		margin-top: 33px !important;

		li {
			display: none;
		}

		.slick-active {
			display: block;
		}
	}

}

.connected-slides {
	li {
		display: none;

		&:first-child {
			display: block;
		}
	}
}

.house-banners {
	margin: 0 0 40px;
	padding: 40px 0 0;
	width: 100%;
	.font-size(0);

	li {
		display: inline-block;
		.box-sizing;

		margin: 0 auto 20px;
		vertical-align: top;

		&:nth-child(3n-2) {
			width: 33%;

			a {
				margin-right: 12px;
			}
		}

		&:nth-child(3n-1) {
			width: 34%;

			a {
				margin-right: 12px;
				margin-left: 12px;
			}
		}
		&:nth-child(3n) {
			width: 33%;

			a {
				margin-left: 12px;
			}
		}
	}

	a {
		border: 1px solid #dadada;
		display: block;
	}

	.detail {
		min-height: 150px;
		padding: 25px;
	}

	img {
		//max-width: 410px;
		margin: 0 auto;
	}

	h6 {
		margin: 0 0 2px;
		font-size: 22px;
		line-height: 28px;
		text-transform: uppercase;
	}

	h3 {
		margin: 0 0 15px;
		font-size: 32px;
		line-height: 42px;
		text-transform: uppercase;
	}

	p {
		margin: 0;
		font-size: 16px;
		line-height: 24px;
	}
}


/*------------------------------------------------------------------
[Tabs / .tabs]
*/


.mobile-tabs {
	margin: 0 auto;
	display: none;
	max-width: 350px;
	height: 50px;
	padding: 0 20px;
}

.tabs {
	padding: 50px 0;
	text-align: center;

	a {
		display: block;
		padding: 5px 30px;
		.hoverTransition;

		&:hover {
			background-color: @text;
			color: @white;
		}
	}

	ul {
		display: inline-block;
		border: 2px solid @text;

		li {
			position: relative;
			float: left;
			text-align: center;
			text-transform: uppercase;
			font-size: 17px;
			border-left: 2px solid @text;
			.gotham-medium;

			&:first-child {
				border-left: none;
			}

			&.active {

				a {
					background-color: @text;
					color: @white;

					&:after {
						content: " ";
						position: absolute;
						bottom: -10px;
						left: 50%;
						margin-left: -4px;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 8px 8px 0 8px;
						border-color: @text transparent transparent transparent;
						-webkit-transform: rotate(360deg);
					}
				}
			}
		}
	}
}

/*------------------------------------------------------------------
[General Info / .general-info]
*/

.general-info {
	.clearfix;
	padding: 50px 0;

	.grid {
		margin: 0 -12px;

		.span_1_of_2 {
			padding: 0 12px;
		}
	}

	.floor-plan {
		text-align: center;
	}
}

.buttons-center {
	margin: 0 0 51px;
	text-align: center;
	.clear;

	a {
		margin: 0 3px 10px;
		display: inline-block;
	}

	.btn {
		color: @white;
	}
}

/*------------------------------------------------------------------
[Apartment / .apartment]
*/

.apartment {

	.send-inquiery {
		text-align: center;
		padding: 50px 0;

		.btn {
			height: 70px;
			line-height: 70px;
		}
	}
}

/*------------------------------------------------------------------
[Rooms / .rooms]
*/

.rooms {

	.grid {
		margin: 0 -40px;
		padding: 50px 0;

		.span_1_of_2 {
			width: 50%;
			padding: 0 40px;
			margin: 0;
		}

		&.reversed  {

			.span_1_of_2 {

				&:first-child {
					float: right;
				}
			}
		}
	}

	h2 {
		font-size: 32px;
	}
}

.tech-gallery {
	h2 {
		margin-bottom: 20px;
	}

	.file-list {
		padding: 0 0 30px;
	}

	.slideshow {
		padding: 0 0 10px;
	}
}

.boxes {
	.col {
		img {
			border: 1px solid #dadada;
		}
	}
}

.col {
	h2 {
		margin: 0 0 30px;
	}

	p {
		margin: 0 0 40px;
		font-size: 20px;
		line-height: 34px;

		a {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
		.btn {
			text-decoration: none;
		}
	}

	ul {
		margin-bottom: 40px;

		li {
			list-style: disc;
			margin-left: 25px;
			padding-left: 10px;
		}
	}
}

.video-button {
	//margin: 15px 0 20px;
	padding: 0 10px;
	color: #000 !important;
	border: 2px solid #000;
	text-transform: uppercase;
	font-size: 14px;
	.gotham-medium;
	.clear;
	display: inline-block;
	position: relative;
	padding-right: 40px;
	height: 30px;
  line-height: 32px;

	&:after {
		content: ' ';
		.sprite100;
		background-position: -96px -154px;
		width: 35px;
		height: 35px;
		display: block;
		position: absolute;
		top: -1px;
		right: 0;
	}

	&:hover {
		border-color: lighten(#000, 30%);
		color: lighten(#000, 30%) !important;
	}

}


.elements {
	padding: 30px 0 0;

	.file {
		line-height: 32px;
		margin-right: 5px;
		margin-bottom: 15px;
		text-decoration: none;
	}
}


.video-ico,
.go-pdf {
	.gotham-medium;
	font-size: 21px;
	color: @white !important;
	font-weight: normal;
	text-transform: uppercase;
	float: right;
	display: inline-block;
}

.video-ico {
//	margin: 15px 0 20px;
//	padding: 17px 120px 16px 20px;
//	border: 3px solid #000;
//	text-transform: uppercase;
//	font-size: 21px;
//	.gotham-medium;
//	.clear;
	display: inline-block;
	position: relative;
	padding-right: 40px;

	&:after {
		content: ' ';
		.sprite100;
		background-position: -2px -153px;
		width: 35px;
		height: 35px;
		display: block;
		position: absolute;
		top: -3px;
		right: -5px;
	}

//	&:hover {
//		border-color: lighten(#000, 30%);
//		color: lighten(#000, 30%);
//	}

}

.pdf-video {

	.description {
		width: 100%;
		padding: 20px 30px;
		.box-sizing;
		text-align: left;
		.clear;

		h2 {
			min-height: 151px;
			color: @white;
		}

		a {
		}
	}


	.col-1 {
		.description {
			background: @brown;
		}
	}
	.col-2 {
		.description {
			background: @text;
		}
	}
}

.fashiontv {
	.video-ico,
	.go-pdf {
		color: @text !important;
	}
}


.fashiontv-teaser {
	margin: 0 0 40px;
	background: #121212;
	font-size: 0;
	position: relative;

	.photo {
		width: 50%;
		display: inline-block;
		vertical-align: top;
		padding-right: 40px;
		.box-sizing;
	}

	.detail {
		padding: 50px;
		.box-sizing;
		.clear;
		width: 50%;
		display: inline-block;
		vertical-align: top;
	}

	h3,
	p {
		color: @white;
	}

	h3 {
		.gotham-light;
		font-weight: 200;
		font-size: 32px;
		text-transform: uppercase;
	}

	p {
		color: #a9a9a9;
		font-size: 20px;
		line-height: 34px;
	}

	.logo {
		float: right;
		position: absolute;
		bottom: 50px;
		right: 50px;
	}
}

/*------------------------------------------------------------------
[Article / .article]
*/

.article {
	font-size: 20px;
	line-height: 34px;

	.grid {
		margin: 0 -40px;
		padding: 50px 0;

		.span_1_of_2 {
			width: 50%;
			padding: 0 40px;
			margin: 0;
		
			& >p:first-child {
				margin-top: 0;
				padding-top: 0;
			}
		}

	}

	h1 {
		font-size: 42px;
		line-height: 48px;
		width: 60%;
		margin: 0 auto;
		text-align: center;
		text-transform: uppercase;
	}

	a {
		color: @purple;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
			color: lighten(@purple, 10%);
		}
	}

	table {
		td {
			text-align: left;
		}
	}
}

/*------------------------------------------------------------------
[Contact Form / .contact-form]
*/

.contact-form {

	.inquiry-form {
		margin: 0 auto;
		position: relative;
		width: auto;
		height: auto;
		background-color: transparent;
		width: 340px;

		form {
			padding: 0;
		}

		select {
			background-color: #eee;
		}

		input[type="text"],
		input[type="email"],
		textarea,
		.select2-container--default .select2-selection--single {
			background: #eee;
		}

		input[type="submit"] {
			width: 166px;
			margin: 0 auto;
			display: inline-block;
		}
	}

	h1,
	>h1 + p {
		width: 70%;
		margin: 0 auto 20px auto;
	}
}
.InquiryPage {
	.select2-container--open .select2-dropdown--below {
		background: #eee;
	}
}


.drive-map {
	background: @white;
	width: 310px;
	display: block;
	position: absolute;
	top: 60px;
	left: 80px;

	label {
		margin: 10px 0;
		width: 100%;
		text-align: left;
		font-size: 22px;
		text-transform: uppercase;
		display: block;
	}

	fieldset {
		width: 200px;
		padding: 0 80px 0 30px;
		position: relative;
	}

	.field {
		width: 100%;
		display: inline-block;
		vertical-align: top;
	}

	input.text {
		border: 1px solid #dadada;
		background: #fff;
		.box-sizing;
		width: 100%;
		height: 50px;
		padding: 0 20px;
		font-size: 16px;
		color: #333333;
		-webkit-appearance: none;
		border-radius: 0;
		outline: none;
	}

	.Actions {
		width: 50px;
		position: absolute;
		bottom: 0;
		right: 30px;
	}

	.action {
		width: 50px !important;
		height: 50px !important;
		display: inline-block;
		.ir;
	}

	.distance {
		font-size: 16px;
		padding: 0 30px;
		text-align: left;
		.opacity(0);
		.hoverTransition;

		&.show-it {
			.opacity(1);
		}

		span {
			float: right;
			.gotham-book;
		}
	}
}


.no-content-full {
	width: 100% !important;

	.slick-slide {
		img {
			margin: 0 auto;
		}
	}
}


/*------------------------------------------------------------------
[Filter / .filter]
*/



select {
	background:#fff ~'url(../images/dropdown-down.png)' right 18px no-repeat;
	background-size: 30px 9px;
}

#inquiry-form select {
	background-position: right 21px;
}

.mt-select {
	border: 2px solid #333;
}

.filter {
	text-align: center;
	padding-bottom: 90px;

	.form-row {
		margin: 0 auto;
	}

	select {
		width: 205px;
		margin: 0 12px;
		padding-right: 50px;
		margin-bottom: 10px;
		border: 2px solid #333;
	}

	.select2 {
		display: inline-block;
		margin: 0 12px;
		padding-right: 50px;
		margin-bottom: 10px;
		.clear;
	}

}

/*------------------------------------------------------------------
[Description / .description]
*/

.description {
	font-size: 20px;
	text-align: center;
	margin: 0 auto;
	width: 65%;

	h1 {
		margin-bottom: 30px;
		font-size: 30px;
		line-height: 36px;
	}

	h2 {
		margin: 0 0 30px;
	}

	p {
		margin: 0 0 20px;
	}
}

.Pricing {
	.description {
		width: 100%;
	}
}

.prices {
	margin: 50px 0;
	border-top: 1px solid #dadada;
	width: 100%;
	max-width: 100%;
	float: none;

	th {
		padding: 11px 30px 9px;
		.gotham-light;
		font-size: 20px;
		font-weight: 200;
	}

	td {
		padding: 11px 30px 9px;
		text-align: left;
		font-size: 20px;
		.gotham-book;

		&:last-child {
			text-align: right;
			white-space: nowrap;
		}
	}

	.col-1 {
		width: 22%;
	}

	.col-2 {
		width: 56%;
	}

	.col-3 {
		width: 22%;
	}
}

.prices-mobile {
	display: none;

	h3 {
		margin: 0;
		.gotham-light;
		font-size: 20px;
		font-weight: 200;
	}

	.prices {
		margin-top: 20px;

		th,
		td {
			font-size: 18px;
		}

		.col-2 {
			width: 70%;
		}

		.col-3 {
			width: 30%;
		}
	}
}


/*------------------------------------------------------------------
[Houses / .houses]
*/

.houses {

	.arrival,
	.departure {
		background: #eee;
	}

	.houses-item {
		.clearfix;
		clear: both;
		padding: 20px 0;

		.grid {
			margin: 0 -12px;
		}

		.span_1_of_2 {
			.clearfix;
			padding: 0 12px;
		}
	}

	.wrapper {
		.clearfix;
		border: 1px solid #dadada;
		padding: 20px 0 0 30px;
	}

	.house-info {

		.wrapper {
			.box-sizing;
			min-height: 304px;
		}
	}

	.thumbs {
		
		a {
			.box-sizing;
			display: block;
			padding: 0 12px;
			width: 50%;
			float: left;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}

	table {
		font-size: 14px;
		width: auto;
		float: none;
		overflow: hidden;
		max-width: none;

		th,
		td {
			border: none;
		}

		tfoot {

			th,
			td {
				border-top: 1px solid #dadada;
			}
		}
	}

	.price-check {
		padding: 10px 30px;
		float: right;
		width: 165px;
		text-align: center;

		select {
			background-color: #e5e5e5;
			margin-bottom: 10px;
		}
	}

	.price {
		padding: 0 0 30px 0;
		margin: 0;
		.gotham-book;
		font-size: 19px;

		strong {
			.gotham-medium;
			font-size: 30px;
		}
	}

	.form-row {
		margin-bottom: 10px;
		position: relative;

		.desktop-date {
			input {
				background: #e5e5e5;
			}
		}
	}
}

.no-persons {
	.sprite100;
	width: 74px;
	height: 28px;
	.ir;
	text-align: left;
	display: block;
	float: right;
}

.np-6 {
	background-position: -12px -78px;
}

.np-4 {
	background-position: -103px -78px;
}

.np-2 {
	background-position: -207px -78px;
}

.go-more {
	padding-bottom: 20px;
	color: @purple;
	.gotham-medium;
	font-size: 20px;
	display: inline-block;
}

.location-map,
.area-map {
	width: 100%;
	text-align: center;
	position: relative;
}

.mobile-map {
	display: none;
}

#google_translate_element {
	margin-bottom: 20px;
}

.title-spec {
	text-transform: uppercase;
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
}

.right-col {
	.file {
		background: #afafaf;

		&:hover {
			background: #8f8f8f;
		}

		b {
			border-color: #8f8f8f;

			&:hover {
				border-color: #8f8f8f;
			}
		}
	}
}

.search-results {
	padding: 0 0 15px;
	border-bottom: solid 1px #ddd;
	margin: 0 0 25px;
	&:last-child {
		border: 0;
		margin: 0;
	}
	h2 {
		font-size: 20px;
		line-height: 1.1em;
		margin: 0 0 .5em;
		max-width: 500px;
	}
	.cont {
		margin: 0;
		font-size: 14px;
	}

	b {
		.gotham-bold;
	}
}
.pagination {
	text-align: center;
	margin: 50px 0 0;
	li {
		display: inline-block;
		vertical-align: bottom;
		margin: 0 0 15px;
		&:hover {
			opacity: .8;
		}
		a {
			display: block;
			box-sizing: border-box;
			padding: 0 5px;
		}
	}
	.selected {
		.gotham-bold;
		//text-decoration: underline;
		font-size: 1.3em;
		margin-bottom: 11px;
	}
	.prev,
	.next {
		a {
			text-indent: -9999px;
			height: 25px;
			width: 30px;
			position: relative;

			&:before {
				position: absolute;
				content: '';
				top: 50%;
				left: 50%;
				margin: -8px -5px;
			}
		}
	}
	.next {
		a {
			&:before {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 8px 0 8px 11px;
				border-color: transparent transparent transparent #333;
			}
		}
	}
	.prev {
		a {
			&:before {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 8px 11px 8px 0;
				border-color: transparent #333 transparent transparent;
			}
		}
	}
}
