.ui-sortable .preview img {
	cursor: move;
}

.sortableupload .ui-sortable-helper {
	background-color: #fff !important;
	border: 1px solid #b3b3b3 !important;
	border-left: 0 !important;
	border-right: 0 !important;
	-webkit-box-shadow: 0px 9px 5px -5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 9px 5px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 9px 5px -5px rgba(0, 0, 0, 0.3);
}
