* {
	margin: 0;
	padding: 0;
}

body {
	color: #333;
 	font-size: 62.5%; 
 	margin-bottom: 40px;
	font-family: Verdana, Lucida, sans-serif; 
	background:#f0f0ec;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear{
	clear:both;
}

/* CONTAINER
----------------------------------------- */
#BgContainer {
	width: 900px;  
	margin: 30px auto 0; 
}

#Container { 
	width: 900px;
	padding-bottom: 15px;
	background: #fff;
}

#Layout {
	width: 840px;
	clear: both;
	overflow: hidden;
	margin: 15px auto;
}

/* HEADER
----------------------------------------- */
#Header { 
 	width: 840px; 
 	margin: 0 auto;
	overflow: hidden;
	padding:30px 0 0;
}

#Header h1 { 
	color: #000; 
	font-size: 5em; 
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}


.message {
	margin: 15px;
	padding: 5px;
	width: 92%;
	color: #979908;
	border: 4px solid #F7F8B4;
	background: #FFFFEA;
}
span.middleColumn .message {
	margin: 4px 0 0 3px;
}
.required {
	margin: 4px 0 0 3px;
	padding: 5px;
	width: 92%;
	color: #DC1313;
	border: 4px solid #FF7373;
	background: #FED0D0;
}

p#Remember label {
	margin: -24px 0 0 20px;
	text-align: left;
}
.entry {
	border-bottom: 1px solid #eee;
}

.typography #Content p.authorDate {
	color: #444;
	margin-top: -15px;
	}
	

/* FOOTER
----------------------------------------------- */

#Footer { 
 	clear: both;  
	width: 800px; 
	height: 5em; 
	text-align: center; 
}
	#Footer .footerTop {
		width: 100%;
		display: block;
		height: 2em;
	}
  	#Footer p { 
		color: #bfbfb3;
		font-size: 1.1em;
		text-align: center;
		margin-top: -0.8em;
		text-align:left;
	}
  		#Footer a { 
	   		color: #bfbfb3; 
	   		text-decoration: none;
		}
			#Footer a:hover {
				color: #bfbfb3;
				text-decoration: underline;
			}

		#Layout input[disabled], #Layout input[readonly]{color:#999; background:#fff;}
			

/* PARAGRAPHS 
-------------------------------------------- */
.typography p { 
 	color: #666;
 	line-height: 18px;
 	font-size: 11px;
	margin: 0 0 18px 0;
}

/* LINKS 
-------------------------------------------- */

.typography a { 
 	text-decoration: none; 
	color: #3E91C4;
}
	.typography a:hover { 
 		text-decoration: underline;
	}


/* LIST STYLES 
-------------------------------------------- */

	.typography li {
		margin: 5px 10px;
		font-size: 11px;
	}
		.typography li li {
			font-size: 10px;
		}
		
/* HEADER STYLES 
-------------------------------------------- */

h1, h2, h3, h4{font-family:Arial, Helvetica, sans-serif;}

.typography h1,
.typography h2 { 
	color: #4EA3D7; 
	margin: 0 0 18px 0;
	font-weight: 300;
	font-family: Tahoma, Verdana, sans-serif;
}

.typography h1 {
	font-size: 24px;
}
.typography h2 { 
 	font-size: 20px; 
}	
.typography h3 {
	color: #222;
	margin: 0 0 18px 0;
	font-weight: 300;
	clear: both;
	font-size: 18px;
}
.typography h4 {
	font-size: 16px;
	color: #222;
	width: 95%;
	font-weight: 300;
	line-height: 18px;
	border-bottom: 1px solid #ccc;
	margin: 0 0 16px 0;
}
.typography h5 {
	font-size: 14px;
	color: #222;
	font-weight: 700;
	margin: 0 0 12px 0;
}
.typography h6 {
	font-size: 13px;
	color: #555;
	line-height: 1.4em;
	margin: 0 0 12px 0;
}

/* PRE STYLES 
-------------------------------------------- */	
.typography pre {
	font-family:"Courier New",Courier;
	display:block;
	font-size:1.2em;
	margin:2em 5em;
	padding:0.5em;
	border:1px #ccc solid;
	background:#eee;;
}

/* TABLE STYLING 
-------------------------------------------- */
.typography table {
	margin: 0 0 18px 0;
	font-size: 11px;
	color: #666;
	border-collapse:collapse;
}
	.typography tr {}
	
		.typography td {
			border:1px solid #999;
			padding:5px;
		}

/* FIELDSETS
---------------------------------------- */
fieldset {
	border: 0;
}

/* ACTION BUTTONS
---------------------------------------- */
input.action {
	padding: 2px;
	font-size: 11px ;
	font-family: Verdana, Tahoma, Sans-serif;
}
input.action:hover,
input.action:focus {
	cursor: pointer;
}

/* FIELD FORMATING
---------------------------------------- */
form ul {
	list-style: none;
}
.middleColumn {
 	display: block;
 	margin: 5px 10px 10px 0;
	background:#f0f0e7;
	padding: 4px;
	width: 306px;
	clear: left;
}
	#Sidebar .middleColumn {
		margin: 0 0 0 8px;
		display: inline;
	}
	
	div.tab .field .middleColumn {
		clear: none !important;
 		margin: 0 !important;
		width: auto;
	}
	
	.middleColumn .middleColumn {
		margin-left: 0;
		margin-right: 0;
		padding: 0;
	}
	
	.middleColumn .message {
		margin: 0;
	}
	
/* INPUT BOXS
---------------------------------------- */

textarea {
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 12px;
}
input:focus span, textarea:focus span {
	border: 3px solid #000;
}

/* SELECT DROPDOWN
---------------------------------------- */

select {
	width: auto;
}

/* LABELS
---------------------------------------- */
.typography label {
 	display: block;
	margin: 10px 0 -10px 0;
	color: #777;
	font-size: 12px;
}

#Container .typography p {
	margin-left: 0;
	margin-right: 0;
}

#Container * {
	text-align: left;
}

#Header p {
	margin-left: 30px;
}

.optiongrp {
	list-style: none;
	margin: 0 5px 10px 5px;
	width: 320px;
}
	.optiongrp li {
		padding: 3px 0 0;
		margin-left: 0;
		padding-left: 0;
	}
	.optiongrp input {
		float: left;
		margin-right: 5px;
	}
	.optiongrp  label {
		margin: 0 5px 0 3px;
	}

h4.sectionHeading {
	margin-top: 20px;
}

.error {
	padding: 0.5em;
	background-color: #fdf5f5;
	border: 1px #ff8e8e solid;
	color: #f03838;
}

#Container p.error { color: #f03838;}

.good {
	padding: 0.5em;
	background-color: #e2fee1;
	border: 1px #70af12 solid;
	color: #359318;
}
.error a,
.warning a,
.good a {
	color: inherit;
	text-decoration: underline;
}
p.error a:hover {
	text-decoration: none;
}

#stats-container label {
	display: inline;
}
#stats {
	margin-right: 5px;
}
table.testResults {
	border-collapse: collapse;
	width: 100%;
	margin: 10px 0;
}
#Layout h4 {
	font-size: 26px;
	margin: 36px 0 18px 0;
	font-weight: bold;
	line-height: 1.6;
	clear: left;
	border-top:2px solid #000;
	border-bottom:;
	width: 100%;
	overflow: hidden;
}
	#Layout h4 span {
		float: right;
		font-size: 10px;
		padding: 13px 0 0 0;
		font-weight: normal;
		color: #888;
	}

/**
 * Requirements and test results
 * ------------------------------------------------ */
table.testResults {
	margin-top: 0;
}
	table.testResults td {
		border: 1px #CCC solid;
		width: 400px;
		line-height: 15px;
		padding: 6px;
	}
	
	h5 + table.testResults td{border-width: 0 1px 1px 1px;}
	
		table.testResults tr.good {
			display: none;
			border: none;
		}
			table.testResults tr.good td {
				color: green;
			}

			table.testResults tr.warning {
				border: none;
			}
				table.testResults tr.warning td {
					color: #ef7f24;
				}
			table.testResults tr.error {
				border: none;
			}
					table.testResult tr.error {
						color: red;
					}

h5.requirement {
	padding: 10px;
	background: #f0f0e7;
	border: 1px solid #ccc;
	border-width: 0 1px 1px 1px;
	margin: 0;
	overflow: hidden;
}	
	h5.requirement span {
		float: right;
	}
		h5.requirement.good {
			color: #639c00;
		}
		h5.requirement.warning {
			color: #cb6a1c;
		}
		h5.requirement.error {
			color: #F03838;
		}
	h5.requirement a {
		font-size: 10px;
		float: right;
		line-height: 19px;
		margin: 0 0 0 30px;
		color: #666;
		text-decoration: none;
		font-weight: normal;
	}
.clear {
	clear: both;
}
#adminAcc,
#devHelp,
#localeHelp {
	padding-top: 20px;
}

.typography label {
	margin-bottom: 0;
}

#Layout .helpText {
	float: right;
	width: 420px;
	padding-right: 10px;
}

.section {
	overflow: hidden;
}

.fields {
	float: left;
}

#devHelp,
#devSection {
	height: 18em;
}

#Layout input.action {
	text-align: center;
	font-size: 13px;
	width: 220px;
	font-weight: bold;
	margin: 5px 0;
}

#use_environment_field {
	margin-bottom: 25px;
}

#use_environment_field input {
	float: left;
	margin-right: 5px;
}

.dbfields, .databaseError {
	margin: 13px 0 20px 17px;
}

#database_credentials {
	margin: 0;
	line-height: 1;
}

#database_selection {
	overflow: hidden;
	margin: 0;
}
	#database_selection li {
		margin-left: 0;
		padding-left: 0;
		margin:0 0 7px;
	}
		#database_selection li input {
			margin-right: 5px;
		}
		#database_selection li label {
			display: inline;
		}

.databaseError {
	clear:both;
	overflow: hidden;
	width: 290px;
	line-height: 1.2;
	margin-bottom: 0;
	display: none;
}

	.databaseError ul {
		margin-bottom: 0;
	}
	.databaseError ul, .databaseError li {
		margin-left: 0;
		padding-left: 0;
	}

.goodInstall {
	padding: 0.5em;
	background-color: #e5ffc4;
	border: 1px #8cba0f solid;
	color: #359318;
	overflow: hidden;
	line-height: 18px;
	padding: 10px;
}
	#Layout p.goodInstall {
		color: #639C00;
	}
	.goodInstall a {
		float: right;
		font-size: 18px;
		padding: 0 2px 2px 0;
		font-weight: bold;
	}
	
em.inlineBarText {
	float: left;
	font-style: normal;
}

	#Sidebar .middleColumn {
		margin: 0 0 0 8px;
		display: inline;
	}
	
	.fieldGroup .middleColumn{padding-bottom:2px;}
	
	div.tab .field .middleColumn {
		clear: none !important;
 		margin: 0 !important;
		width: auto;
	}

input.text, textarea, select {
	padding: 2px;
	border: 1px solid #A7A7A7;
	color: #000;
	font-size: 14px;
	font-weight: normal;
	width: 296px;
}

input.text{padding:4px; margin-right:0;}

select {
	width: auto;
}

.typography label {
 	display: block;
	margin: 0;
	color: #777;
	font-size: 12px;
}

.admin-field {margin-bottom:15px;}
.admin-field label{margin:0 0 0 1px; width:auto; display:inline;}
.admin-field input{}
select#locale{height:25px;}
select.reusedb{width:306px;}
p.install input{font-size:30px; font-weight:normal; margin:0 auto; width:auto;}