
.line() {
	font-size: 0;
	width: 35px;
	height: 5px;
	background: @purple;
	display: block;
	overflow: hidden;
	position: absolute;
	left: 13px;
	.transition(all .2s ease-in-out);
}

.line-1 {
	.line;
	top: 13px;
}

.line-2 {
	.line;
	.opacity(1);
	top: 24px;
}

.line-3 {
	.line;
	top: 35px;
}

.open {
	.line-1 {
		.rotate(45deg);
		top: 24px;
	}

	.line-2 {
		.opacity(0);
	}

	.line-3 {
		.rotate(-45deg);
		top: 24px;

	}
}