form p.checkbox {
    margin: 0px;
}
.doapToolbar{
	border-bottom: 1px solid rgba(201, 205, 206, 0.8);
	margin-bottom: 15px;
	height: 25px;
	padding: 10px 10px 15px;
}

.doapToolbar h3.doapTitle{
	padding: 5px; 
	border: 1px solid #ccc;
	background:#fff;
	margin-bottom: 10px;
	font-size: 12px;
	float: left;
	padding: 5px 10px;
	border: #ccc;
	background: #aaa;
	color: #fff;
	border-radius: 4px;
	font-weight: normal;
	margin: 0;
} 
	.doapToolbar p.doapViewLinks{
		float: right;
		padding: 0;
		margin: 0;
	} 
		.doapToolbar p.doapViewLinks a{
			display: inline-block;
			margin-right: 5px;
		}