/*------------------------------------------------------------------
# [Forms]
------------------------------------------------------------------*/

.hc666 {
	display: none;
}

input[type="date"],
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	.box-sizing;
	width: 100%;
	height: 50px;
	border: none;
	padding: 0 20px;
	outline: none;
	.font-arial;
	font-size: 16px;
	//background-color: #eee;
	color: @text;
	-webkit-appearance: none;
	border-radius: 0;
	outline: none;

	&:focus {
		outline: none;
		box-shadow: none;
	}
}

//.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:focus,
//.select2-container--default.select2-container--open .selection:focus {
	//background: none;
//}



textarea {
	height: 150px;
	padding: 15px 20px;
}

input[type="submit"] {
	.gotham-book;
	font-size: 19px;
	height: 50px;
	border: none;
	background-color: @purple;
	color: @white;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	-webkit-appearance: none;
	border-radius: 0;
	.hoverTransition;
	.hoverFunction(@purple);

	&.arrow {
		.sprite100;
		width: 70px;
		height: 70px;
		background-position: -601px -198px;
	}
}

.Actions .arrow {
	background-position: -611px -208px !important;
}

select {
	.box-sizing;
	width: 100%;
	height: 50px;
	border: none;
	padding: 0 20px;
	text-indent: 0.01px;
	cursor: pointer;
	outline: none;
	.font-arial;
	font-size: 16px;
	background-color: @white;
	color: @text;
	outline: 0;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	&:after {
		content: ' ';
		.sprite100;
		display: block;
		background-position: -714px -87px;
		width: 20px;
		height: 15px;
		left: 50%;
		margin-left: -4px;
		margin-top: -2px;
		position: absolute;
		top: 50%;
	}
}

.calendar-ico {
	display: none;
	.sprite100;
	background-position: -784px -79px;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 17px;
	right: 19px;
	cursor: pointer;
}

.ui-datepicker-trigger {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 17px;
	right: 19px;
	cursor: pointer;
}

.text label,
.textarea label,
.dropdown label {
	display: none;
}

select::-ms-expand {
	display: none;
}

::-webkit-input-placeholder {
	color: @text;
}

:-moz-placeholder {
	color: @text;
}

::-moz-placeholder {
	color: @text;
}

:-ms-input-placeholder {
    color: @text;
}

