/*------------------------------------------------------------------
# [Gloabal]
------------------------------------------------------------------*/

a {
	color: @text-link;
	text-decoration: none;
	.hoverTransition;
	//@text-link;
}

.clearfix {
	*zoom: 1;

	&:before {
		content: " ";
		display: table;
	}

	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.list-style-none {
	list-style: none;
}

.text-center {
	text-align: center;
}

.align-middle {
	margin-left: auto;
	margin-right: auto;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.box-sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.rounded-corners (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

.rounded-corners-left (@radius: 5px) {
	-webkit-border-top-left-radius: @radius;
	-webkit-border-bottom-left-radius: @radius;
	-moz-border-radius-topleft: @radius;
	-moz-border-radius-bottomleft: @radius;
	border-top-left-radius: @radius;
	border-bottom-left-radius: @radius;
}

.sprites {
	background-image: url('../images/sprites.png');
	background-repeat: no-repeat;
}

.sprite100() {
	background-image: ~"url('../images/sprite100.png')";
	background-repeat: no-repeat;
}
.sprite100-2() {
	background-image: ~"url('../images/sprite100-2.png')";
	background-repeat: no-repeat;
}

.sprite100-2b() {
	background-image: ~"url('../images/sprite100-2b.png')";
	background-repeat: no-repeat;
}

.sprite100ftv() {
	background-image: ~"url('../images/sprite100-ftv.png')";
	background-repeat: no-repeat;
}

.sprite100ftv-2() {
	background-image: ~"url('../images/sprite100-2-ftv.png')";
	background-repeat: no-repeat;
}

.sprite200() {
	background-image: ~"url('../images/sprite200.png')";
	background-repeat: no-repeat;
	background-size: 510px 275px;
}

.sprite200-2() {
	background-image: ~"url('../images/sprite200-2.png')";
	background-repeat: no-repeat;
	background-size: 510px 275px;
}

.sprite200ftv() {
	background-image: ~"url('../images/sprite200-ftv.png')";
	background-repeat: no-repeat;
	background-size: 510px 275px;
}

.sprite200ftv-2() {
	background-image: ~"url('../images/sprite200-2-ftv.png')";
	background-repeat: no-repeat;
}


.width-25 {
	width: 25%;
}

.width-50 {
	width: 50%;
}

.width-75 {
	width: 75%;
}

.width-100 {
	width: 100%;
}

.fluid-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.fluid-wrapper .canvas_map,
.fluid-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

figure {
	margin: 0;
	padding: 0;
}

img,
object,
video {
	max-width: 100%;
	height: auto;
}

textarea:focus,
input:focus,
select:focus,
a {
	outline: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}