/*------------------------------------------------------------------
# [Layout]

+ Grid / .grid

/*----------------------------------------------------------------*/

/*------------------------------------------------------------------
[Grid / .grid]
*/

.grid {
	.clearfix;
	clear: both;
	margin: 0;
	padding: 0;

	.col {
		.box-sizing;
		display: block;
		float:left;
		margin-left: @grid-margin;

		&:first-child {
			margin-left: 0;
		}
	}

	.span_4_of_4 {
		width: 100%;
	}

	.span_3_of_4 {
		width: 75%;
	}

	.span_2_of_4 {
		width: 50%;
	}

	.span_1_of_4 {
		width: 25%;
	}

	.span_3_of_3 {
		width: 100%;
	}

	.span_2_of_3 {
		width: 66.66%;
	}

	.span_1_of_3 {
		width: 33.33%;
	}

	.span_2_of_2 {
		width: 100%;
	}

	.span_1_of_2 {
		width: 50%;
	}

	.span_1_of_1 {
		width: 100%;
		margin: 0;
	}
}

/*------------------------------------------------------------------
[Footer / .footer]
*/

.footer {
	.box-sizing;
	.clearfix;
}