/*------------------------------------------------------------------
# [Navigation]

+ Navigation Primary / .navigation-primary

------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Navigation Primary / .navigation-primary]
*/

.navigation-primary {
	display: none;
	padding-bottom: 50px;
	
	li {
		font-size: 34px;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		padding: 5px 0;
		.gotham-light;

		a {
			display: block;
			padding: 10px 0;

			&:hover {
				color: @purple;
			}
		}
	}

	.selected {
		a {
				color: @purple;
		}
	}

	.languages {
		padding-top: 20px;
		text-align: center;
		margin: 0 auto;

		a {
			font-size: 20px;
			.gotham-book;
			padding: 4px 10px;

			&:hover {
				color: @purple;
			}

			&.active {
				border: 3px solid @text;

				&:hover {
					color: @text;
				}
			}
		}
	}

	.search {
		form {
			margin: 25px auto 15px;
			max-width: 440px;
			overflow: hidden;
		}
		.text {
			float: left;
			width: 100%;
			padding: 0 50px 0 0;
			box-sizing: border-box;
			@media @bp_560 {
				padding: 0 50px;
			}

			input {
				background: #e5e5e5;
			}
		}
		.action {
			float: left;
			width: 50px;
			margin-left: -50px;
			input[type=submit] {
				background: transparent url(../images/icons/icon-search.svg) 50% 50% no-repeat;
				padding: 0;
				width: 50px;
				height: 50px;
				text-indent: -9999px;
				&:hover {
					opacity: .8;
				}
			}
		}
	}

}