/*------------------------------------------------------------------
# [Layout Mobile Landscape - max-width: 600px]

+ Variables
+ Main / .main
+ Page / .page
+ Grid / .grid
+ Inquiry / .inquiry
+ Inquiry Form / .inquiry-form
+ Section / .section
+ Big Berry / .big-berry
+ Foursome / .foursome
+ Footer / .footer
+ Puzzle / .puzzle
+ Tabs / .tabs
+ Slideshow / .slideshow
+ Article / .article
+ Contact Form / .contact-form
+ Houses / .houses

# [Layout Mobile Landscape - max-width: 500px]

+ Foursome / .foursome
+ Share / .share
+ Puzzle / .puzzle


------------------------------------------------------------------*/

@media screen and (max-width: 600px) {


	.navigation-primary {
		li {
			font-size: 24px;
		}
	}

	/*------------------------------------------------------------------
	# [Layout Variables]
	*/

	@page-padding: 30px;

	/*------------------------------------------------------------------
	[Main / .main]
	*/

	.main {

		h1 {

			&.title {
				font-size: 32px;
			}
		}
	}


	.prices {
		display: none;
	}

	.prices-mobile {
		display: block;

		.prices {
			padding-right: 0;
			display: table;
		}
	}


	/*------------------------------------------------------------------
	[Page / .page]
	*/

	.page {
		padding: 0 @page-padding;
	}

	/*------------------------------------------------------------------
	[Grid / .grid]
	*/

	.grid {
		margin: 0;

		.span_1_of_4 {
			width: 100%;
			margin: 0;

			&:first-child {
				width: 100%;
				margin: 0;
			}
		}

		.span_3_of_4,
		.span_1_of_2 {
			width: 100%;
			margin: 0;
		}

		.span_1_of_2 {
			clear: both;
			float: none;
			padding: 0 0 24px 0;

			&:first-child {
				padding: 0 0 24px 0;
			}
		}
	}

	.boxes {
		.col {
			margin-top: 30px !important;

			&:first-child {
				margin-top: 0 !important;
			}
		}
	}

	/*------------------------------------------------------------------
	[Header / .header]
	*/

	.header {
		
		.wrapper {
			padding: 30px 0;
			height: 80px;
		}


		.logo {

			img {
				width: 80px;
				padding-right: 0;
				border-right: none;
			}

			h4 {
				margin: 28px 0 0 20px;
				font-size: 19px;
			}
		}
	}


	/*------------------------------------------------------------------
	[Inquiry / .inquiry]
	*/

	.inquiry {
		margin-bottom: 30px;
		background-size: 180%;


		.featured-offer {
			background-size: 10%;

			.offer {

				h4 {
					font-size: 18px;

					strong {
						line-height: 30px;
						font-size: 26px;
						padding-right: 140px;
					}
				}

				em {
					line-height: 30px;
					font-size: 24px;
					padding-top: 2px;
				}
			}
		}
	}

	/*------------------------------------------------------------------
	[Inquiry Form / .inquiry-form]
	*/

	.inquiry-form {
		
		form {
			padding: 30px 35px 0 35px;
		}

		h4 {
			line-height: 34px;
		}
	}

	.desktop-date {
		display: none;
	}

	.mobile-date {
		display: block;
	}

	/*------------------------------------------------------------------
	[Section / .section]
	*/

	.section {
		padding: 35px 0;

		>h2,
		>h1 {
			text-align: center;
			margin-bottom: 25px;
			font-size: 32px;
		}

		>h2 + p {
			padding-bottom: 30px;
		}

		>p {
			font-size: 18px;
		}
	}

	/*------------------------------------------------------------------
	[Big Berry / .big-berry]
	*/

	.big-berry {

		.grid {
			margin: 0;
		}

		.span_1_of_2 {
			padding: 0;
		}
	}

	/*------------------------------------------------------------------
	[Foursome / .foursome]
	*/

	.foursome {

		.span_1_of_4 {
			width: 50%;
			float: left;
			padding-bottom: 40px;

			&:first-child {
				width: 50%;
				float: left;
				padding-bottom: 40px;
			}
		}
	}


	/*------------------------------------------------------------------
	[Footer / .footer]
	*/

	.footer {
		text-align: center;

		ul {

			&.links,
			&.legal {
				float: none;
				clear: both;
				margin: 0 auto;
				display: inline-block;
			}

			&.legal {
				padding: 30px 0 20px 0;
			}
		}

		input[type="email"] {
			font-size: 28px;
		}
	}


	/*------------------------------------------------------------------
	[Puzzle / .puzzle]
	*/

	.puzzle {
		padding-bottom: 35px;
		
		.title {
			padding: 35px 0 0 0;

			h1 {
				font-size: 32px;
				line-height: 34px;
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
	}

	/*------------------------------------------------------------------
	[Slideshow / .slideshow]
	*/

	.slideshow {

		.slides {

			figure {

				figcaption {
					font-size: 26px;
					line-height: 30px;

					h5 {
						bottom: 20px;
						left: 20px;
						right: 20px;
					}
				}
			}
		}

		//.slides-navigation {

			.arrow-left,
			.arrow-right {
				width: 44px;
				height: 44px;
				margin-top: -22px;
			}

			.arrow-left {
				left: 0;
				background-position: -714px -211px;
			}

			.arrow-right {
				right: 0;
				background-position: -809px -211px;
			}

			.slick-total {
				padding: 14px 0;
				margin-top: 22px !important;
				width: 44px;
				font-size: 12px;
			}
		//}
	}

	/*------------------------------------------------------------------
	[Apartment / .apartment]
	*/

	.apartment {

		.send-inquiery {
			padding: 0 0 50px 0;

			.btn {
				font-size: 18px;
				height: 50px;
				line-height: 50px;
			}
		}

		h2 {
			font-size: 32px;
			line-height: 36px;
			text-align: center;
		}
	}

	/*------------------------------------------------------------------
	[rooms / .rooms]
	*/

	.rooms {

		.grid {
			margin: 0;
			padding: 25px 0;

			.span_1_of_2 {
				width: 100%;
				padding: 0;
			}

			&.reversed  {

				.span_1_of_2 {

					&:first-child {
						float: left;
					}
				}
			}
		}

		h2 {
			font-size: 26px;
			padding-top: 25px;
		}

		.btn {
			margin: 0 auto;
			display: inline-block;
		}
	}

	/*------------------------------------------------------------------
	[Article / .article]
	*/

	.article {
		font-size: 16px;
		line-height: 24px;

		.grid {
			padding: 40px 0 0 0;

			.span_1_of_2 {

				&:first-child {
					padding-bottom: 25px;
				}
			}
		}
//
//		h1 {
//			font-size: 32px;
//			line-height: 38px;
//		}
	}

	/*------------------------------------------------------------------
	[Contact Form / .contact-form]
	*/

	.contact-form {

		h1,
		>h1 + p {
			width: 100%;
		}
	}

	/*------------------------------------------------------------------
	[Houses / .houses]
	*/

	.houses {

		.wrapper {
			margin: 0;
			padding: 20px;
		}

		.price-check {
			.box-sizing;
			padding: 0 0 30px 0;
			float: none;
			width: 100%;
			margin: 0 auto;
		}
	}


	.go-more {
		padding-bottom: 0;
	}

  .mobile-map {
	  margin: 0 auto;
  	display: inline-block;
  }

  .fluid-wrapper {
	  display: none;
  }

.video-button {
		//padding: 17px 70px 16px 20px;
		font-size: 14px;
		&:after {
			//top: 9px;
			top: 0;
		}
	}


	.drive-map {
		display: none;
	}

	.house-banners {
		li {
			margin: 0 auto 20px;
			width: 100% !important;
		}

		a {
			margin: 0 auto !important;
			max-width: 410px;
		}

		figure {
			max-width: 410px;
		}

		.detail {
			min-height: inherit;
		}

	}

}


@media screen and (max-width: 500px) {

	/*------------------------------------------------------------------
	[Foursome / .foursome]
	*/

	.foursome {

		.grid {
			margin: 0;
		}

		.span_1_of_4 {
			width: 100%;
			clear: both;
			float: none;
			padding-bottom: 40px;

			&:first-child {
				width: 100%;
				clear: both;
				float: none;
				padding: 0;
				padding-bottom: 40px;
			}

			&:nth-last-child(2) {
				padding-bottom: 40px;
			}

			&:last-child {
				padding-right: 0;
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
	}

	/*------------------------------------------------------------------
	[Share / .share]
	*/

//	.share {
//
//		ul {
//
//			li {
//				padding: 0 0 0 5px;
//			}
//		}
//
//		a {
//			width: 40px;
//			height: 40px;
//			background-size: 532px;
//
//			&.tw {
//				background-position: left -232px;
//			}
//
//			&.fb {
//				background-position: -66px -232px;
//			}
//
//			&.pi {
//				background-position: -133px -232px;
//			}
//
//			&.gplus {
//				background-position: -199px -232px;
//			}
//
//			&.in {
//				background-position: -266px -232px;
//			}
//		}
//	}

	/*------------------------------------------------------------------
	[Inquiry Form / .inquiry-form]
	*/

	.inquiry-form {

		h4 {
			width: 80%;
			font-size: 26px;
		}
	}

	/*------------------------------------------------------------------
	[Puzzle / .puzzle]
	*/

	.puzzle {
		
		&.rent {

			.col-right {
				padding: 35px;
			}
			
			.inquiry-form {
				width: 100%;

				form {
					padding: 0;
				}

				h4 {
					width: 100%;
					font-size: 28px;
				}

				.tel {
					margin-top: 20px;
					padding-top: 20px;
				}
			}
		}
	}

	.col {
			.listed-tags {
				margin-top: 10px !important;
			}
		}
}