/*------------------------------------------------------------------
# [Layout Tablet - max-width: 900px]

+ Variables
+ Page / .page
+ Inquiry / .inquiry
+ Inquiry Form / .inquiry-form
+ Foursome / .foursome
+ Footer / .footer
+ Puzzle / .puzzle
+ Tabs / .tabs
+ Article / .article
+ Description / .description


/*------------------------------------------------------------------
# [Layout Tablet - max-width: 720px]

+ Footer / .footer


------------------------------------------------------------------*/

@media screen and (max-width: 900px) {

	/*------------------------------------------------------------------
	# [Layout Variables]
	*/
	@page-padding: 34px;

	/*------------------------------------------------------------------
	[Page / .page]
	*/
	.page {
		padding: 0 @page-padding;
	}

	/*------------------------------------------------------------------
	[Inquiry / .inquiry]
	*/
	.inquiry {
		background-size: initial;

		.wrapper {
			height: auto;
		}

		.featured-offer {
			width: 100%;
			border-right: none;
			float: none;
			overflow: auto;

			> .responsive-container {
				display: block;
			}

			.offer {

				h4 {
					font-size: 20px;

					strong {
						line-height: 38px;
						font-size: 34px;
						padding-right: 140px;
					}
				}

				em {
					line-height: 38px;
					font-size: 28px;
					padding-top: 6px;
				}
			}
		}
	}

	/*------------------------------------------------------------------
	[Inquiry Form / .inquiry-form]
	*/
	.inquiry-form {
		position: relative;
		border-left: none;
		width: 100%;
		clear: both;
		border-top: 24px solid @white;
		padding-bottom: 30px;

		form {
			padding: 20px 20% 0 20%;
		}

		h4 {
			padding-top: 30px;
			width: 70%;
			margin: 20px auto 0;
			padding-bottom: 0;
			line-height: 36px;
		}
	}

	/*------------------------------------------------------------------
	[Foursome / .foursome]
	*/
	.foursome {

		img {
			display: block;
		}

		h3 {
			text-align: center;
			font-size: 19px;
			padding: 20px 0;
		}

		p {
			padding: 0;
			margin: 0;
			.font-arial;
			font-size: 16px;
			text-align: Center;
		}

		.grid {
			margin: 0 -12px;
		}

		.span_1_of_4 {
			width: 50%;
			padding: 0 12px 50px 12px;

			&:nth-child(2n+1) {
				clear: both;
			}

			&:last-child,
			&:nth-last-child(2) {
				padding-bottom: 0;
			}
		}
	}

	/*------------------------------------------------------------------
	[Footer / .footer]
	*/
	//	.footer {
	//		padding-bottom: 30px;
	//
	//		.divider {
	//			margin: 50px 0 35px 0;
	//		}
	//
	//		ul {
	//
	//			li {
	//				padding: 0 20px;
	//			}
	//
	//			&.social {
	//				margin: 30px auto 0 auto;
	//			}
	//		}
	//	}
	.footer {
		padding-bottom: 30px;

		.social {
			margin-top: 20px;
			max-width: 200px;

			li {
				&:nth-child(4) {
					padding-left: 0;
				}
			}
		}

		form {

			.wrapper {
				width: 100%;
				max-width: 395px;
				margin-top: 10px;
			}
		}

		.divider {
			margin: 30px 0 35px 0;
		}

		input[type="email"] {
			font-size: 24px;
			height: 50px;
			line-height: 50px;
		}

		input[type="submit"] {
			height: 50px;
			width: 50px;
			background-position: -611px -208px;
		}

		ul {

			&.links {
				width: 100%;
				position: static;
				float: none;

				li {
					float: none;
					border: none;
					padding: 8px 0;
				}
			}

			&.legal {
				margin-top: 20px;
				width: 100%;
				position: static;
				float: none;
				display: inline-block;

				li {
					padding: 0 12px;
					display: inline-block;
					float: none;

					&:first-child {
						padding-left: 0;
					}

					&:last-child {
						padding-right: 0;
					}
				}
			}
		}
	}

	/*------------------------------------------------------------------
	[Puzzle / .puzzle]
	*/
	.puzzle {

		.col-left {
			float: none;
			width: 100%;
			padding: 0;

			img {
				width: 100%;
			}
		}

		.col-right {
			float: none;
			width: 100%;
		}

		.thumb {
			display: none;
		}

		.title {
			text-align: center;
			margin-left: 0;
			color: @text;
			padding: 100px 0 0 0;
			background: transparent !important;

			h1 {
				position: relative;
				top: auto;
				left: auto;
				right: auto;
				font-size: 42px;
				line-height: 46px;
				text-align: center;

				strong {
					.gotham-light;
				}
			}

			.responsive-container {
				display: none;
			}

			&.brown,
			&.blue {
				background-color: transparent;
			}
		}

		&.rent {

			.col-left {

				&:after {
					content: none;
				}
			}

			.col-right {
				padding: 50px 0;
				border-top: 24px solid @white;
			}

			.inquiry-form {
				position: relative;
				left: auto;
				right: auto;
				padding: 0px;
				border-left: none;

				form {
					padding: 0;
					max-width: 350px;
					margin: 0 auto;
				}

				h4 {
					font-size: 28px;
					padding-bottom: 40px;
				}

				.tel {
					margin-top: 40px;
					padding-top: 40px;
					margin-bottom: 0;
					padding-bottom: 0;
				}
			}
		}
	}

	/*------------------------------------------------------------------
	[General Info / .general-info]
	*/
	.general-info {
		.clearfix;
		padding: 50px 0;

		.grid {
			margin: 0;

			.span_1_of_2 {
				padding: 0;
				width: 100%;
				float: none;
				clear: both;
			}

			.floor-plan {
				padding-bottom: 50px;
			}
		}

		table {
			padding-top: 50px;
			float: none;
			margin: 0 auto;
			padding-right: 0;
		}
	}

	/*------------------------------------------------------------------
	[Tabs / .tabs]
	*/
	//	.tabs {
	//		padding: 30px 0;
	//
	//		a {
	//			padding: 5px 30px;
	//		}
	//	}
	/*------------------------------------------------------------------
	[Rooms / .rooms]
	*/
	.rooms {

		.grid {
			margin: 0 -20px;

			.span_1_of_2 {
				padding: 0 20px;
			}
		}
	}

	/*------------------------------------------------------------------
	[Article / .article]
	*/
	.article {

		.grid {
			margin: 0;
			padding: 50px 0 0 0;

			.span_1_of_2 {
				width: 100%;
				padding: 0;

				&:first-child {
					padding-bottom: 50px;
				}
			}

		}

		h1 {
			font-size: 32px;
			line-height: 34px;
		}
	}

	/*------------------------------------------------------------------
	[Description / .description]
	*/
	.description {
		width: 80%;
	}

	.Pricing {
		.description {
			width: 100%;
		}
	}

	/*------------------------------------------------------------------
	[Houses / .houses]
	*/
	.houses {

		.houses-item {
			padding-bottom: 50px;
		}
	}

	.fashiontv-teaser {
		.photo {
			display: block;
			width: 100%;
			padding-right: 0;
		}

		.detail {
			display: block;
			padding: 30px;
			width: 100%;
		}
	}

	.col {
		.listed-tags {
			margin-top: 10px !important;
		}
	}

	.house-banners {
		li {
			margin: 0 auto 40px;

			&:nth-child(3n-2) {
				a {
					margin-right: 20px;
				}
			}

			&:nth-child(3n-1) {
				a {
					margin-right: 0;
					margin-left: 20px;
				}
			}
			&:nth-child(3n) {
				a {
					margin-right: 20px;
					margin-left: 0;
				}
			}
		}

		.detail {
			min-height: 170px;
		}

		h6 {
			font-size: 20px;
			line-height: 26px;
		}

		h3 {
			font-size: 28px;
			line-height: 40px;
		}
	}
}

@media screen and (max-width: 1024px) {

	.mobile-tabs {
		display: block;
	}

	.tabs {
		ul {
			display: none;
		}
	}

}

@media screen and (max-width: 800px) {
	.house-banners {
		.detail {
			min-height: 180px;
		}
	}
}

@media screen and (max-width: 767px) {
	.drive-map {
		display: none;
	}

	.fluid-wrapper {
		display: none;
	}

	.mobile-map {
		margin: 0 auto;
		display: inline-block;
	}
}

@media screen and (max-width: 700px) {

	.house-banners {
		.detail {
			min-height: 150px;
		}

		h6 {
			font-size: 15px;
			line-height: 21px;
		}

		h3 {
			margin-bottom: 10px;
			font-size: 21px;
			line-height: 32px;
		}

		p {
			font-size: 13px;
			line-height: 19px;
		}
	}
}