/*------------------------------------------------------------------
# [Layout Mobile Portrait - max-width: 440px]

+ Variables
+ Main / .main
+ Page / .page
+ Header / .header
+ Inquiry / .inquiry
+ Inquiry Form / .inquiry-form
+ Section / .section
+ Footer / .footer
+ Puzzle / .puzzle
+ Tabs / .tabs
+ Slideshow / .slideshow
+ Apartment / .apartment
+ Article / .article
+ Contact Form / .contact-form
+ Houses / .houses


------------------------------------------------------------------*/

@media screen and (max-width: 440px) {

	/*------------------------------------------------------------------
	# [Layout Variables]
	*/

	@page-padding: 20px;

	/*------------------------------------------------------------------
	[Main / .main]
	*/

	.main {

		h1 {

			&.title {
				font-size: 26px;
			}
		}
	}

	/*------------------------------------------------------------------
	[Page / .page]
	*/

	.page {
		padding: 0 @page-padding;
	}

	/*------------------------------------------------------------------
	[Header / .header]
	*/

	.header {
		
		.logo {

			h4 {
				display: none;
			}
		}
	}

	/*------------------------------------------------------------------
	[Inquiry / .inquiry]
	*/

	.inquiry {
		background-size: 210%;

		.featured-offer {

			.offer {
				bottom: 20px;
				left: 20px;
				right: 20px;

				h4 {
					font-size: 16px;

					strong {
						line-height: 26px;
						font-size: 22px;
						padding-right: 0;
					}
				}

				em {
					position: relative;
					line-height: normal;
					font-size: 20px;
					padding-top: 10px;
					display: block;
				}
			}
		}
	}

	/*------------------------------------------------------------------
	[Inquiry Form / .inquiry-form]
	*/

	.inquiry-form {
		padding-bottom: 20px;
		
		form {
			padding: 0 35px 0 35px;
		}

		h4 {
			padding-top: 10px;
			padding-bottom: 20px;
			width: 100%;
			font-size: 20px;
			line-height: 26px;
		}

		.grid {

			.col {
				width: 100%;
				padding: 0;

				&:first-child {
					margin-bottom: 10px;
					padding: 0;
				}
			}
		}

		.tel {
			padding-top: 10px;
		}

		input[type="submit"] {
			margin-top: 10px;
		}
	}

	.desktop-date {
		display: none;
	}

	.mobile-date {
		display: block;
	}


  .filter {
	  .select2 {
		  margin: 0 auto;
		  display: block;
		  padding-right: 0;
		  margin-bottom: 10px;
	  }
  }

	/*------------------------------------------------------------------
	[Section / .section]
	*/

	.section {
		padding: 25px 0;

		h1 {

		}

		>h2,
		>h1 {
			font-size: 26px;
		}
	}

	/*------------------------------------------------------------------
	[Footer / .footer]
	*/



	/*------------------------------------------------------------------
	[Puzzle / .puzzle]
	*/

	.puzzle {
		padding-bottom: 25px;
		
		.title {
			padding: 25px 0 0 0;

			h1 {
				font-size: 30px;
				line-height: 26px;
			}
		}

		&.rent {
			margin-bottom: 20px;

			.col-right {
				padding: 30px 25px;
			}
			
			.inquiry-form {

				h4 {
					font-size: 22px;
					padding-bottom: 25px;
				}
			}
		}
	}

	/*------------------------------------------------------------------
	[Slideshow / .slideshow]
	*/

	.slideshow {

		.slides {

			figure {

				figcaption {
					font-size: 20px;
					line-height: 24px;

					h5 {
						bottom: 10px;
						left: 10px;
						right: 10px;
					}
				}
			}
		}
	}

	/*------------------------------------------------------------------
	[Apartment / .apartment]
	*/

	.apartment {

		.send-inquiery {

			.btn {
				padding: 0;
				width: 100%;
				font-size: 16px;
			}
		}

		h2 {
			font-size: 26px;
			line-height: 30px;
		}
	}

	/*------------------------------------------------------------------
	[Article / .article]
	*/

	.article {

		.grid {
			padding: 30px 0 0 0;
		}

		h1 {
			font-size: 26px;
			line-height: 40px;
		}
	}

	/*------------------------------------------------------------------
	[Contact Form / .contact-form]
	*/

	.contact-form {
		
		.inquiry-form {
			width: 100%;
		}
	}

	/*------------------------------------------------------------------
	[Houses / .houses]
	*/

	.houses {

		.houses-item {
			padding-bottom: 50px;

			.grid {
				margin: 0;
			}

			.thumbs {
				padding-bottom: 0;

				img {
					width: 100%;
					clear: both;
					padding: 0;

					&:first-child {
						padding-bottom: 24px;
					}
				}
			}

			.info {
				padding-top: 0;
			}
		}

		.wrapper {
			margin-top: 24px;
			padding-bottom: 10px;
		}
	}


	.col {
		.listed-tags {
			margin-top: 10px !important;
		}
	}
}


