
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.select2-container--mobile-menu,
	.select2-container--default {
		.select2-selection--single {
			.select2-selection__arrow {
				b {
					.sprite200;
					background-position: -353px -40px;
				}
			}
		}
	}

	.video-ico {
		&:after {
			.sprite200;
			background-position: 7px -79px;
		}
	}

	.slideshow {

		.arrow-left,
		.arrow-right {
			.sprite200;
		}

		.arrow-left {
			background-position: -336px -75px;
		}

		.arrow-right {
			background-position: -382px -75px;
		}

	}

	.inquiry-form {
		.tel {
			span {
				&:before {
					.sprite200;
					background-position: -358px -167px;
				}
			}
		}
	}

	input[type="submit"].arrow {
		.sprite200;
		background-position: -271px -73px;
	}

	.Actions .arrow {
		background-position: -282px -81px !important;
	}

	.no-persons {
		.sprite200;
	}

	.np-6 {
		background-position: -3px -24px;
	}

	.np-4 {
		background-position: -92px -24px;
		width: 58px;
	}

	.np-2 {
		background-position: -169px -24px;
		width: 28px;
	}

	.share {
		a {
			.sprite200;
		}

		.tw {
			background-position: -5px -135px;
		}

		.fb {
			background-position: -85px -135px;
		}

		.gplus {
			background-position: -165px -135px;
		}

		.pinterest {
			.sprite200-2;
			background-position: -5px -135px;
		}
	}

	.video-button {
		&:after {
			.sprite200;
			background-position: -44px -81px;
		}
	}

	.footer {
		.social {
			a {
				.sprite200;
			}

			.tw {
				background-position: -5px -220px;
			}

			.fb {
				background-position: -80px -220px;
			}

			.pi {
				background-position: -155px -220px;
			}

			.li {
				background-position: -230px -220px;
			}

			.yt {
				background-position: -455px -220px;
			}

			.gp {
				background-position: -305px -220px;
			}

			.ig {
				background-position: -380px -220px;
			}

			.fl {
				background-position: -455px -155px;
			}

			.tr {
				.sprite200-2;
				background-position: -80px -220px;

			}
		}
	}

	.top-button {
		.sprite200;
		background-position: -443px -78px;
	}

}


@media (max-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {

	.slideshow .arrow-left {
	  background-position: -346px -85px;
	}

	.slideshow .arrow-right {
	  background-position: -391px -85px;
	}

	input[type="submit"].arrow {
		background-position: -282px -81px;
	}
}

@media (max-width: 900px) and (-webkit-min-device-pixel-ratio: 2) {
	input[type="submit"].arrow {
		background-position: -282px -81px;
	}
}
