/*------------------------------------------------------------------
# [Testing]

+ Takeover / .takeover
+ Debug / .debug

------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Takeover]
*/

.takeover {
	background-image: url('../imgs/tapeta_ozadje.jpg');
	background-position: center top;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

/*------------------------------------------------------------------
[Debug]
*/

.debug {
	text-align: center;
	font-size: 10px;
}
