/*------------------------------------------------------------------
# [Typography]

+ Font Family
+ General
	- body
	- h1, h2, h3, h4, h5

------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Font Family]
*/

@font-face {
	font-family: 'GothamBoldRegular';
	src:url('../fonts/Gotham-Bold.eot');
	src:url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham-Bold.woff') format('woff'),
	url('../fonts/Gotham-Bold.ttf') format('truetype'),
	url('../fonts/Gotham-Bold.svg#gotham_ot_mdmedium') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'GothamBookRegular';
	src:url('../fonts/gothamot_book-webfont.eot');
	src:url('../fonts/gothamot_book-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gothamot_book-webfont.woff') format('woff'),
	url('../fonts/gothamot_book-webfont.ttf') format('truetype'),
	url('../fonts/gothamot_book-webfont.svg#gotham_otbook') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'GothamMediumRegular';
	src:url('../fonts/gothamot_medium-webfont.eot');
	src:url('../fonts/gothamot_medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gothamot_medium-webfont.woff') format('woff'),
	url('../fonts/gothamot_medium-webfont.ttf') format('truetype'),
	url('../fonts/gothamot_medium-webfont.svg#gotham_ot_mdmedium') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: 'GothamBlackRegular';
    src: url('../fonts/gotham-black-webfont.eot');
    src: url('../fonts/gotham-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-black-webfont.woff') format('woff'),
         url('../fonts/gotham-black-webfont.ttf') format('truetype'),
         url('../fonts/gotham-black-webfont.svg#GothamBlackRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: 'GothamLightRegular';
	src:url('../fonts/gothamot_light-webfont.eot');
	src:url('../fonts/gothamot_light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gothamot_light-webfont.woff') format('woff'),
	url('../fonts/gothamot_light-webfont.ttf') format('truetype'),
	url('../fonts/gothamot_light-webfont.svg#gotham_ot_ltlight') format('svg');
	font-weight: 400;
	font-style: normal;
}

.font-arial {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.gotham-light {
	font-family: GothamLightRegular, Arial, Helvetica, sans-serif;
	font-weight: 200;
}

.gotham-medium {
	font-family: GothamMediumRegular, Arial, Helvetica, sans-serif;
	font-weight: 200;
}

.gotham-book {
	font-family: GothamBookRegular, Arial, Helvetica, sans-serif;
}

.gotham-black {
	font-family: GothamBlackRegular, Arial, Helvetica, sans-serif;
}
.gotham-bold {
	font-family: GothamBoldRegular, Arial, Helvetica, sans-serif;
	font-weight: bold;
}





/*------------------------------------------------------------------
[General]
*/

body {
	.gotham-light;
	font-size: 18px;
	color: @text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	.gotham-light;
}

h1 {
    text-align: center;
	font-size: 42px;
	line-height: 46px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

h2 {
	text-transform: uppercase;
	font-size: 42px;
	line-height: 46px;
}