.youtube-video {
	figure {
		position: relative;
		@triSize:30px;
		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			opacity: .5;
			transition: opacity .5s;
			z-index: 2;
		}
		&:before {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: @triSize 0 @triSize @triSize * 1.414;
			border-color: transparent transparent transparent #fff;
			margin: -@triSize 0 0 -@triSize * .5;
			box-sizing: content-box;
		}
		&:after {
			width: @triSize * 4;
			height: @triSize * 4;
			margin: -@triSize * 2 0 0 -@triSize * 2;
			border: solid 10px #fff;
			border-radius: @triSize * 2;
			box-sizing: border-box;
			box-shadow: 2px 2px 2px #000;
		}
	}
	&:hover {
		figure {
			&:before,
			&:after {
				opacity: .7;
			}
		}
	}
}