/*------------------------------------------------------------------
# [Color Codes]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Font Family]
*/
@font-face {
  font-family: 'Houschkapro medium';
  src: url('//planet-dev.nuedi.si/ptv/styles/fonts/HouschkaPro-Medium.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
.houschkapro-medium {
  font-family: Houschkapro medium, sans-serif;
}
h5 {
  padding: 0;
  color: #3b3b3b;
  font-weight: 200;
  font-family: Houschkapro medium, sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin: 5px 0;
}
/*------------------------------------------------------------------
# [Gloabal]
*/
a {
  color: #3a3a3a;
  text-decoration: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.reset-margin {
  margin: 0;
}
.reset-padding {
  padding: 0;
}
.box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img,
object,
video {
  max-width: 100%;
  height: auto;
}
/*------------------------------------------------------------------
[Grid / .grid]
*/
.grid {
  *zoom: 1;
  clear: both;
  padding: 0;
  margin: 0;
}
.grid:before {
  content: " ";
  display: table;
}
.grid:after {
  content: " ";
  display: table;
  clear: both;
}
.grid .col {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  margin-left: 3%;
}
.grid .col:first-child {
  margin-left: 0;
}
.grid .span_4_of_4 {
  width: 100%;
}
.grid .span_3_of_4 {
  width: 74.25%;
}
.grid .span_2_of_4 {
  width: 48.5%;
}
.grid .span_1_of_4 {
  width: 22.75%;
}
.grid .span_3_of_3 {
  width: 100%;
}
.grid .span_2_of_3 {
  width: 65.66%;
}
.grid .span_1_of_3 {
  width: 31.33%;
}
.grid .span_2_of_2 {
  width: 100%;
}
.grid .span_1_of_2 {
  width: 48.5%;
}
.grid.grid-view {
  margin: 0 -10px;
}
.grid.grid-view .span_1_of_4 {
  width: 25%;
  margin: 0;
  padding: 0 10px;
}
.grid.grid-view .span_1_of_4:first-child {
  margin: 0;
  padding: 0 10px;
}
.grid.grid-view .span_1_of_4:nth-child(4n+1) {
  clear: both;
}
.grid.grid-view .span_1_of_3 {
  width: 33.33%;
  margin: 0;
  padding: 0 10px;
}
.grid.grid-view .span_1_of_3:first-child {
  margin: 0;
  padding: 0 10px;
}
.grid.grid-view .span_1_of_3:nth-child(3n+1) {
  clear: both;
}
.grid.grid-view .span_1_of_2 {
  width: 50%;
  margin: 0;
  padding: 0 10px;
}
.grid.grid-view .span_1_of_2:first-child {
  margin: 0;
  padding: 0 10px;
}
.grid.grid-view .span_1_of_2:nth-child(2n+1) {
  clear: both;
}
.grid.list-view .span_1_of_3,
.grid.list-view .span_1_of_2 {
  float: none;
  clear: both;
  width: 100%;
  margin: 0;
  padding: 10px 0;
}
.grid.list-view .span_1_of_3:first-child,
.grid.list-view .span_1_of_2:first-child {
  padding: 0 0 10px 0;
}
.grid.list-view .span_1_of_3:nth-child(3n+1) {
  clear: both;
}
.grid.list-view .span_1_of_2:nth-child(2n+1) {
  clear: both;
}
.content-exchange a:hover {
  text-decoration: underline;
}
