/*------------------------------------------------------------------
# [Gloabal]
------------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.list-style-none {
  list-style: none;
}
.text-center {
  text-align: center;
}
.align-middle {
  margin-left: auto;
  margin-right: auto;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.box-sizing {
  box-sizing: border-box;
}
.sprites {
  background-image: url('../imgs/sprites.png');
  background-repeat: no-repeat;
}
.reset-margin {
  margin: 0;
}
.reset-padding {
  padding: 0;
}
figure {
  padding: 0;
  margin: 0;
}
img,
object,
video {
  max-width: 100%;
  height: auto;
}
textarea:focus,
input:focus,
select:focus,
a {
  outline: 0;
}
