/*------------------------------------------------------------------
# [One To Rull Them All]
------------------------------------------------------------------*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*------------------------------------------------------------------
# [Color Codes]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
# [Typography]

+ Font Family
+ General
	- body
	- h1, h2, h3, h4, h5

------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Font Family]
*/
@font-face {
  font-family: 'GothamBoldRegular';
  src: url('../fonts/gotham-bold-webfont.eot');
  src: url('../fonts/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-bold-webfont.woff') format('woff'), url('../fonts/gotham-bold-webfont.ttf') format('truetype'), url('../fonts/gotham-bold-webfont.svg#GothamBoldRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamBookRegular';
  src: url('../inc/fonts/gotham-book-webfont.eot');
  src: url('../inc/fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'), url('../inc/fonts/gotham-book-webfont.woff') format('woff'), url('../inc/fonts/gotham-book-webfont.ttf') format('truetype'), url('../inc/fonts/gotham-book-webfont.svg#GothamBookRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamMediumRegular';
  src: url('../inc/fonts/gotham-medium-webfont.eot');
  src: url('../inc/fonts/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../inc/fonts/gotham-medium-webfont.woff') format('woff'), url('../inc/fonts/gotham-medium-webfont.ttf') format('truetype'), url('../inc/fonts/gotham-medium-webfont.svg#GothamMediumRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamBlackRegular';
  src: url('../inc/fonts/gotham-black-webfont.eot');
  src: url('../inc/fonts/gotham-black-webfont.eot?#iefix') format('embedded-opentype'), url('../inc/fonts/gotham-black-webfont.woff') format('woff'), url('../inc/fonts/gotham-black-webfont.ttf') format('truetype'), url('../inc/fonts/gotham-black-webfont.svg#GothamBlackRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamLightRegular';
  src: url('../inc/fonts/gotham-light-webfont.eot');
  src: url('../inc/fonts/gotham-light-webfont.eot?#iefix') format('embedded-opentype'), url('../inc/fonts/gotham-light-webfont.woff') format('woff'), url('../inc/fonts/gotham-light-webfont.ttf') format('truetype'), url('../inc/fonts/gotham-light-webfont.svg#GothamLightRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.default-font {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.gotham-light {
  font-family: GothamLightRegular, Arial;
}
.gotham-medium {
  font-family: GothamMediumRegular, Arial;
}
.gotham-book {
  font-family: GothamBookRegular, Arial;
}
/*------------------------------------------------------------------
[General]
*/
body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  color: #3b3b3b;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: GothamMediumRegular, Arial;
  color: #3b3b3b;
}
h1 {
  margin: 20px 0;
  font-size: 50px;
  line-height: 50px;
}
h2 {
  margin: 20px 0;
  font-size: 23px;
  font-weight: 200;
}
h5 {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 5px;
}
/*------------------------------------------------------------------
# [Gloabal]
------------------------------------------------------------------*/
a {
  color: #3a3a3a;
  text-decoration: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.list-style-none {
  list-style: none;
}
.text-center {
  text-align: center;
}
.align-middle {
  margin-left: auto;
  margin-right: auto;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.sprites {
  background-image: url('../imgs/sprites.png');
  background-repeat: no-repeat;
}
.width-25 {
  width: 25%;
}
.width-50 {
  width: 50%;
}
.width-75 {
  width: 75%;
}
.width-100 {
  width: 100%;
}
figure {
  margin: 0;
  padding: 0;
}
img,
object,
video {
  max-width: 100%;
  height: auto;
}
textarea:focus,
input:focus,
select:focus,
a {
  outline: 0;
}
/*------------------------------------------------------------------
# [Layout]

+ Body / body
+ Page / .page
+ Main / .main
+ Top Section / .top-section
+ Header / .header
	- Logo / .logo
	- Navigation Primary / .navigation-primary
	- Navigation Secondary / .navigation-secondary
	- Search / .search
	- Header News Lists / .header-news-lists
	- Sticky / .sticky
+ Main Column /.main-column
+ Main Column Side / .main-column-side
+ Grid / .grid
	- Grid View / .grid-view
	- List View / .list-view
+ Breaking News / .breaking-news
+ Teaser News / .teaser-news
+ Live News / .live-news
+ Breaking Article / .breaking-article
+ News / .news
+ Splash / .splash
+ Threesome / .threesome
+ Content Exchange / .content-exchange
+ Article / .article
+ Horoscope Widget / .horoscope-widget
+ Share / .share
+ Footer / .footer


--------------------------------------------------------------------
# [Layout Variables]
------------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*------------------------------------------------------------------
[Body / body]
*/
body {
  background-color: #f0eded;
}
/*------------------------------------------------------------------
[Page / .page]
*/
.page {
  *zoom: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 96%;
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
.page:before {
  content: " ";
  display: table;
}
.page:after {
  content: " ";
  display: table;
  clear: both;
}
/*------------------------------------------------------------------
[Main / .main]
*/
/*------------------------------------------------------------------
[Header / .header]
*/
/*------------------------------------------------------------------
[Grid / .grid]
*/
.grid {
  *zoom: 1;
  clear: both;
  margin: 0;
  padding: 0;
}
.grid:before {
  content: " ";
  display: table;
}
.grid:after {
  content: " ";
  display: table;
  clear: both;
}
.grid .col {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  margin-left: 3%;
}
.grid .col:first-child {
  margin-left: 0;
}
.grid .span_4_of_4 {
  width: 100%;
}
.grid .span_3_of_4 {
  width: 74.25%;
}
.grid .span_2_of_4 {
  width: 48.5%;
}
.grid .span_1_of_4 {
  width: 22.75%;
}
.grid .span_3_of_3 {
  width: 100%;
}
.grid .span_2_of_3 {
  width: 65.66%;
}
.grid .span_1_of_3 {
  width: 31.33%;
}
.grid .span_2_of_2 {
  width: 100%;
}
.grid .span_1_of_2 {
  width: 48.5%;
}
.grid .span_1_of_1 {
  width: 100%;
  margin: 0;
}
/*------------------------------------------------------------------
[Footer / .footer]
*/
.footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  width: 96%;
  max-width: 1150px;
  background-color: #ffffff;
  margin: 0 auto;
}
.footer:before {
  content: " ";
  display: table;
}
.footer:after {
  content: " ";
  display: table;
  clear: both;
}
.footer > .wrapper {
  margin: 30px;
  padding-top: 15px;
}
/*------------------------------------------------------------------
# [Navigation]

+ Navigation Primary / .navigation-primary

------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Navigation Primary / .navigation-primary]
*/
/*------------------------------------------------------------------
# [Forms]
------------------------------------------------------------------*/
input[type="text"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  color: #3b3b3b;
  border: none;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
}
input[type="submit"] {
  border: none;
  font-family: GothamMediumRegular, Arial;
  font-size: 18px;
  color: #ffffff;
  background-color: #242424;
  padding: 6px 15px;
}
/*------------------------------------------------------------------
# [Modules]

+ Search / .search


------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Search / .search]
*/
.search .search-trigger {
  float: right;
  background-image: url('../imgs/sprites.png');
  background-repeat: no-repeat;
  background-position: right top;
  width: 24px;
  height: 24px;
  padding: 3px 0;
  cursor: pointer;
}
.search form {
  overflow: hidden;
  float: right;
  margin-right: 10px;
  width: 0px;
}
.search form input[type="text"] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 0px;
  background-color: #ffffff;
}
