/*------------------------------------------------------------------
# [Navigation]

+ Navigation Primary / .navigation-primary

------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Navigation Primary / .navigation-primary]
*/
.navigation-primary {
  display: none;
}
.navigation-primary li {
  font-size: 34px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 0;
}
.navigation-primary li a {
  display: block;
  padding: 10px 0;
}
