/*------------------------------------------------------------------
# [Layout Mobile Landscape - max-width: 600px]

+ Variables
+ Page / .page
+ Grid / .grid
+ Inquiry / .inquiry
+ Inquiry Form / .inquiry-form
+ Section / .section
+ Big Berry / .big-berry
+ Foursome / .foursome
+ Footer / .footer
+ Puzzle / .puzzle
+ Tabs / .tabs
+ Slideshow / .slideshow
+ Article / .article
+ Contact Form / .contact-form

# [Layout Mobile Landscape - max-width: 500px]

+ Foursome / .foursome
+ Share / .share
+ Puzzle / .puzzle


------------------------------------------------------------------*/
@media screen and (max-width: 600px) {
  /*------------------------------------------------------------------
	# [Layout Variables]
	*/
  /*------------------------------------------------------------------
	[Page / .page]
	*/
  .page {
    padding: 0 30px;
  }
  /*------------------------------------------------------------------
	[Grid / .grid]
	*/
  .grid {
    margin: 0;
  }
  .grid .span_1_of_4 {
    width: 100%;
    margin: 0;
  }
  .grid .span_1_of_4:first-child {
    width: 100%;
    margin: 0;
  }
  .grid .span_3_of_4,
  .grid .span_1_of_2 {
    width: 100%;
    margin: 0;
  }
  .grid .span_1_of_2 {
    clear: both;
    float: none;
    padding: 0 0 24px 0;
  }
  .grid .span_1_of_2:first-child {
    padding: 0 0 24px 0;
  }
  /*------------------------------------------------------------------
	[Header / .header]
	*/
  .header .wrapper {
    padding: 30px 0;
    height: 80px;
  }
  .header .logo img {
    width: 80px;
    padding-right: 0;
    border-right: none;
  }
  .header .logo h4 {
    margin: 30px 0 0 20px;
    font-size: 17px;
  }
  /*------------------------------------------------------------------
	[Inquiry / .inquiry]
	*/
  .inquiry {
    margin-bottom: 30px;
    background-size: 180%;
  }
  .inquiry .featured-offer {
    background-size: 10%;
  }
  .inquiry .featured-offer .offer h4 {
    font-size: 18px;
  }
  .inquiry .featured-offer .offer h4 strong {
    line-height: 30px;
    font-size: 26px;
    padding-right: 140px;
  }
  .inquiry .featured-offer .offer em {
    line-height: 30px;
    font-size: 24px;
    padding-top: 2px;
  }
  /*------------------------------------------------------------------
	[Inquiry Form / .inquiry-form]
	*/
  .inquiry-form form {
    padding: 30px 35px 0 35px;
  }
  .inquiry-form h4 {
    line-height: 34px;
  }
  /*------------------------------------------------------------------
	[Section / .section]
	*/
  .section {
    padding: 35px 0;
  }
  .section > h2,
  .section > h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 32px;
  }
  .section > h2 + p {
    padding-bottom: 30px;
  }
  .section > p {
    font-size: 18px;
  }
  /*------------------------------------------------------------------
	[Big Berry / .big-berry]
	*/
  .big-berry .grid {
    margin: 0;
  }
  .big-berry .span_1_of_2 {
    padding: 0;
  }
  /*------------------------------------------------------------------
	[Foursome / .foursome]
	*/
  .foursome .span_1_of_4 {
    width: 50%;
    float: left;
    padding-bottom: 40px;
  }
  .foursome .span_1_of_4:first-child {
    width: 50%;
    float: left;
    padding-bottom: 40px;
  }
  /*------------------------------------------------------------------
	[Footer / .footer]
	*/
  .footer {
    text-align: center;
  }
  .footer ul.links,
  .footer ul.legal {
    float: none;
    clear: both;
    margin: 0 auto;
    display: inline-block;
  }
  .footer ul.legal {
    padding: 30px 0 20px 0;
  }
  .footer form .wrapper {
    width: 100%;
  }
  .footer input[type="email"] {
    font-size: 28px;
  }
  /*------------------------------------------------------------------
	[Puzzle / .puzzle]
	*/
  .puzzle {
    padding-bottom: 35px;
  }
  .puzzle .title {
    padding: 35px 0 0 0;
  }
  .puzzle .title h1 {
    font-size: 32px;
    line-height: 36px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  /*------------------------------------------------------------------
	[Tabs / .tabs]
	*/
  .tabs a {
    padding: 5px 20px;
  }
  /*------------------------------------------------------------------
	[Slideshow / .slideshow]
	*/
  .slideshow .slides figure figcaption {
    font-size: 26px;
    line-height: 30px;
  }
  .slideshow .slides figure figcaption h5 {
    bottom: 20px;
    left: 20px;
    right: 20px;
  }
  .slideshow .slides-navigation .next,
  .slideshow .slides-navigation .prev {
    width: 44px;
    height: 44px;
    margin-top: -22px;
    background-size: 600px;
  }
  .slideshow .slides-navigation .prev {
    left: 0px;
    background-position: -505px -265px;
  }
  .slideshow .slides-navigation .next {
    right: 0px;
    background-position: -552px -265px;
  }
  /*------------------------------------------------------------------
	[Apartment / .apartment]
	*/
  .apartment .send-inquiery {
    padding: 0 0 50px 0;
  }
  .apartment .send-inquiery .btn {
    font-size: 18px;
    height: 50px;
    line-height: 50px;
  }
  .apartment h2 {
    font-size: 32px;
    line-height: 36px;
    text-align: center;
  }
  /*------------------------------------------------------------------
	[rooms / .rooms]
	*/
  .rooms .grid {
    margin: 0;
    padding: 25px 0;
  }
  .rooms .grid .span_1_of_2 {
    width: 100%;
    padding: 0;
  }
  .rooms .grid.reversed .span_1_of_2:first-child {
    float: left;
  }
  .rooms h2 {
    font-size: 26px;
    padding-top: 25px;
  }
  .rooms .btn {
    margin: 0 auto;
    display: inline-block;
  }
  /*------------------------------------------------------------------
	[Article / .article]
	*/
  .article {
    font-size: 16px;
    line-height: 24px;
  }
  .article .grid {
    padding: 40px 0 0 0;
  }
  .article .grid .span_1_of_2:first-child {
    padding-bottom: 25px;
  }
  .article h1 {
    font-size: 32px;
    line-height: 38px;
  }
  /*------------------------------------------------------------------
	[Contact Form / .contact-form]
	*/
  .contact-form h1,
  .contact-form > h1 + p {
    width: 100%;
  }
  /*------------------------------------------------------------------
	[Houses / .houses]
	*/
  .houses .price-check {
    padding: 10px 30px;
    float: none;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  /*------------------------------------------------------------------
	[Foursome / .foursome]
	*/
  .foursome .grid {
    margin: 0;
  }
  .foursome .span_1_of_4 {
    width: 100%;
    clear: both;
    float: none;
    padding: 0;
    margin-bottom: 40px;
  }
  .foursome .span_1_of_4:first-child {
    width: 100%;
    clear: both;
    float: none;
    padding: 0;
    padding-bottom: 40px;
  }
  .foursome .span_1_of_4:last-child {
    padding-right: 0;
    margin-bottom: 0;
  }
  /*------------------------------------------------------------------
	[Share / .share]
	*/
  .share ul li {
    padding: 0 0 0 5px;
  }
  .share a {
    width: 40px;
    height: 40px;
    background-size: 532px;
  }
  .share a.tw {
    background-position: left -232px;
  }
  .share a.fb {
    background-position: -66px -232px;
  }
  .share a.pi {
    background-position: -133px -232px;
  }
  .share a.gplus {
    background-position: -199px -232px;
  }
  .share a.in {
    background-position: -266px -232px;
  }
  /*------------------------------------------------------------------
	[Inquiry Form / .inquiry-form]
	*/
  .inquiry-form h4 {
    width: 80%;
    font-size: 26px;
  }
  /*------------------------------------------------------------------
	[Puzzle / .puzzle]
	*/
  .puzzle.rent .col-right {
    padding: 35px;
  }
  .puzzle.rent .inquiry-form {
    width: 100%;
  }
  .puzzle.rent .inquiry-form form {
    padding: 0;
  }
  .puzzle.rent .inquiry-form h4 {
    width: 100%;
    font-size: 28px;
  }
  .puzzle.rent .inquiry-form .tel {
    margin-top: 20px;
    padding-top: 20px;
  }
}
