/*------------------------------------------------------------------
# [Layout Desktop - max-width: 1024px]

+ Inquiry Form / .inquiry-form
+ Puzzle / .puzzle


------------------------------------------------------------------*/
@media screen and (max-width: 1280px) {
  /*------------------------------------------------------------------
	[Inquiry / .inquiry]
	*/
  .inquiry-form h4 {
    font-size: 19px;
  }
  .inquiry-form form {
    padding: 20px 50px 0 50px;
  }
  .inquiry-form select,
  .inquiry-form input[type="submit"] {
    height: 40px;
    line-height: 40px;
  }
}
