/*------------------------------------------------------------------
# [Typography]
------------------------------------------------------------------*/
@font-face {
  font-family: 'Houschkapro';
  src: url('../fonts/HouschkaPro-Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Houschkapro medium';
  src: url('../fonts/HouschkaPro-Medium.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Houschkapro';
  src: url('../fonts/HouschkaPro-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Houschkapro';
  src: url('../fonts/HouschkaPro-ExtraBold.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
.default-font {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.houschkapro-regular {
  font-family: Houschkapro, sans-serif;
}
.houschkapro-medium {
  font-family: Houschkapro medium, sans-serif;
}
h5 {
  font-family: Houschkapro medium, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 200;
  margin-bottom: 5px;
}
