/* header */
.cms-content-header .cms-content-header-filter {
    float: right;
    line-height: 40px;
    padding-right: 24px;
}
#namespace_dropdown {
	float: right;
	margin: 0 0 0 2em;
}
#Namespace {
	margin: 0;
	padding: 2px;
}
#Namespace label {
    float: none;
    margin: 0;
    display: none;
}

#translationsearch {
    float: right;
    margin: 0 0 0 2em;
}
#translationsearch input {
    padding: 2px;
    border: 1px solid #999;
    color: #666;
}
#translationsearch label {
    margin-right: 10px;
    font-size: 12px;
}

/* filter west */
#cms-content-tools-LangEditor h4 {
	margin: 1em 0 0.25em;
	padding-right: 1em;
}
#available_languages {
	min-height: 50px;
	overflow: auto;
	border: 1px solid #ddd;
}
#available_modules {
	min-height: 50px;
	overflow: auto;
	border: 1px solid #ddd;
}
#available_languages ul li,
#available_modules ul li {
	margin: 2px 0;
	font-size: 11px;
}
#available_languages ul li a,
#available_modules ul li a {
	padding: 2px 2px 2px 8px;
	text-decoration: none;
	display: block;
}
#available_languages ul li a:hover,
#available_modules ul li a:hover {
	background: #ddd;
}
#available_languages ul li a.current,
#available_modules ul li a.current {
	background: #ccc;
}
#Form_CreateTranslationForm .field,
#Form_CopyVariablesForm fieldset {
	float: none;
	width: 90%;
	margin: 0;
	padding: 2px 0;
}
#Form_CreateTranslationForm  .field select {
	width: 100% !important;
	float: none;
	display: block;
}
#Form_CreateTranslationForm .field label.left {
	display: block;
	float: none;
	margin: 0;
	padding: 0;
	font-size: 11px;
	color: #333;
}
#Form_CreateTranslationForm .Actions {
	text-align: center;
	margin: 5px auto;
}

/* edit form */
div.namespace {
	border-bottom: 1px solid #ddd;
}
div.entity {
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	padding: 2px;
}
div.entity.systemField {
	display: none;
}
div.entity_label {
	float: left;
	width: 25%;
	margin-top: 3px;
}
div.entity_field {
	float: left;
	width: 70%;
}
div.entity_field input {
	width: 95%;
}
#namespaces {
	overflow: auto;
	padding: 1em;
}
#namespaces h3 {
	margin: 10px 0;
}
#namespaces h3 a {
	text-decoration: none;
	color: #666;
	font-size: 14px;
}


/**
 * Addons
 */

.delete {
	width: 16px;
	height: 17px;
	display: block;
	float: right;
	cursor: hand;
	background: transparent url(../images/decline.png) no-repeat;
}

h4.closed {
	background: transparent url(../images/1407519430_circle_next_arrow_disclosure_.png) no-repeat center right;
}
h4.opened {
	background: transparent url(../images/1407519427_circle_back_arrow_.png) no-repeat center right;
}

.getShowHideAction {
	cursor: pointer;
}
.hiddenByDefault {
	display: none;
}

a.disabled {
	color: darkgrey;
}
.more-margin {
	margin-top: 15px !important;
}
.progressWrap {
	min-height: 20px;
	border: 1px solid #b3b3b3;
	margin: 20px 0;
}
.progress {
	background-color: blue;
	height: 20px;
	margin: 2px 0px;
	width: 1%;
	text-align: center;
	line-height: 20px;
	color: #fff;
}

#other_translation ul.actionUL {
	margin-top: 3px;
}
#other_translation ul.actionUL li {
	text-align: left;
}
#other_translation ul.actionUL li a {
	display: block;
	margin: 1px 0;
	padding: 2px 0;
}

.cms .Actions .loader-input{
	background: url("../../framework/images/network-save.gif") no-repeat scroll 95% 50% transparent;
    padding-right: 20px;
}