#_iCD {
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 10px 0;
	width: 75%;
	font-size: 12px !important;
	background: #222;
	background: rgba(0,0,0,.85);
	z-index: 9999;
	text-align: center;

}

#_iCD.is-closed { display: none;}

#_iCD * {
	font-family: arial;
	color: #fff;
	line-height: 1.2;
}
#_iCD .iCD_wrp {
	position: relative;
	margin: 0 auto;
	padding: 0;
	max-width: 960px;
}

#_iCD .iCD_lf {
	/*width: 70%;*/
	width: 100%;
	float: left;
}
#_iCD .iCD_rt {
	width: 30%;
	float: right;
}
#_iCD .iCD_lf .iCD_inr {
	margin-top: 5px;
}
#_iCD .iCD_lf .iCD_inr:after {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 0;
	border-right: 1px solid #999;
	border-color: rgba(255,255,255,.5);
	height: 100%;
}
#_iCD .iCD_lf a {
	font-weight: bold !important;
	color: #999;
	border-bottom: 1px dotted #999;
	text-decoration: none !important;
}
#_iCD .iCD_lf a:hover {color:#b9b9b9; border:none;}
#_iCD .iCD_bkg { display: none; }
#_iCD h3 {
	margin: 0;
	padding: 0 0 8px;
	font-size: 14px;
	font-weight: bold;
}
#_iCD p {
	font-size: 12px;
}
#_iCD .iCD_btn:after {content: ""; display: block; width: 100%; overflow: hidden; clear: both;}
#_iCD .iCD_btn  a {
	display: block;
	float: right;
	padding: 3px 10px;
	color: #000;
	background: #fff;
	border-radius: 3px;
	text-decoration: none !important;
}
#_iCD .iCD_btn  a:hover {background:#ccc; text-decoration: none !important;}
#_iCD .iCD_btn  a strong {color: #000;}

#_iCD .iCD_chk  {position: relative; clear: both;}
#_iCD .iCD_chk  input {
	margin: 0;
	vertical-align: text-top;
}
#_iCD .iCD_chk  label {
	position: relative;
	display: inline !important;
	margin: 0;
	padding: 0 0 0 5px;
	font-weight: normal !important;
	font-size: 12px !important;
}

.close { height: 11px; width:11px; background: url(../img/eu-cookie-close.png) left top no-repeat; display: block; cursor: pointer; position: absolute; right: 20px; top:45%; z-index: 1;  }
.close:hover { opacity: 0.5;}

@media only screen and (max-width : 767px) {
	#_iCD {padding: 2px 0 9px;}
	#_iCD .iCD_lf,
	#_iCD .iCD_rt {
		padding: 0 20px;
		width: auto;
		float: none;
	}
	#_iCD .iCD_inr {padding: 20px 0;}
	#_iCD .iCD_lf .iCD_inr {padding-left: 0;}
	#_iCD .iCD_lf .iCD_inr:after {	display: none;}
	#_iCD .iCD_lf .iCD_inr h3:after {content: ""; display: block; width: 100%; overflow: hidden; clear: both;}
	#_iCD .iCD_rt .iCD_inr {border-top: 1px solid #999; border-color: rgba(255,255,255,.5);}
}


@media only screen and (max-width : 1400px) {
	#_iCD {
	width: 70%;
}

#_iCD .iCD_wrp {
	padding:0 40px 0 0;
	width: 80%;
}
#_iCD p {
	line-height: 1.4;
}

}

@media only screen and (max-width : 1025px) {

#_iCD {
	width: 100%;
	}